.coop-container {
  width: 100%;
  height: 1040px;
  padding: 75px 100px;
  display: flex;
  // gap: 30px;
  align-items: end;
  justify-content: end;
  overflow: hidden;
  position: relative;
}

.coop-title {
  color: #04a427;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 22px */
  letter-spacing: -0.2px;
  position: absolute;
  top: 75px;
  left: 100px;
}
.coop-bage {
  width: 480px;
  height: 1440px;
  margin-bottom: -13px;
  background-image: url('../images/beidg.png');
  background-size: contain;
  background-position-y: bottom;
  background-position-x: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 8px;
}
.bage-photo {
  width: 403px;
  height: 440px;
  border-radius: 30px;
  margin-left: -30px;
  margin-bottom: 18px;
}
.coop-bage-desc {
  width: 403px;
  height: 154px;
  border-radius: 28px;
  border-top: 1px solid rgba(4, 164, 39, 0.4);
  border-bottom: 1px solid rgba(4, 164, 39, 0.4);
  background: rgba(255, 255, 255, 0.91);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 30px 60px;
  margin-left: -30px;
  //   border: 1px solid red;
  position: relative;
}
.sign {
  //   border: 1px solid red;
  width: 74px;
  height: 54px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.coop-bage-title {
  color: #04a427;
  text-align: center;
  font-family: 'Cormorant Unicase';
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 26px */
  letter-spacing: -0.52px;
  text-transform: uppercase;
}
.coop-bage-text {
  //   border: 1px solid red;
  color: #06631b;
  text-align: center;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 18px */
  text-transform: uppercase;
  .text-green {
    color: #04a427;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
  }
}
.coop-vacancies {
  display: flex;
  flex-direction: column;
  //   border: 1px solid red;
}
.coop-vacancies-title {
  width: 768px;
  height: 100px;
  color: #04a427;
  font-family: 'Cormorant Unicase';
  font-size: 49px;
  font-style: normal;
  font-weight: 500;
  line-height: 123%; /* 60.27px */
  letter-spacing: 0.98px;
  text-transform: uppercase;
  margin-left: 30px;

  //   border: 1px solid red;
  .green {
    color: #06631b;
    font-family: Montserrat;
    font-size: 43px;
    font-style: normal;
    font-weight: 500;
    line-height: 123%;
    letter-spacing: 0.86px;
    text-transform: uppercase;
  }
}

.sub-title {
  color: #06631b;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 123%; /* 19.68px */
  letter-spacing: 0.32px;
  text-transform: uppercase;
  margin-top: 65px;
  margin-left: 30px;
}
.coop-vacan-block {
  position: relative;
  width: 1170px;
  height: 697px;
  border-radius: 40px;
  margin-top: 20px;
  background: #04a427;
  display: flex;
  justify-content: flex-end;
  img {
    height: 100%;
  }
}
.coop-vacan-group {
  width: 794px;
  height: 681px;
  padding: 13px 40px;
  border-radius: 34px;
  border-top: 1.5px solid rgba(4, 164, 39, 0.4);
  border-bottom: 1.5px solid rgba(4, 164, 39, 0.4);
  background: #f3fff6;
  backdrop-filter: blur(5px);
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.coop-vacan-item {
  display: flex;
  width: 714px;
  height: 100px;
  padding: 25px 40px 25px 50px;
  border-radius: 40px;
  border-top: 1.5px solid rgba(4, 164, 39, 0.4);
  border-bottom: 1.5px solid rgba(4, 164, 39, 0.4);
  backdrop-filter: blur(3.5px);
  align-items: center;
  justify-content: space-between;
}
.lapa {
  width: 30px;
  height: 34px;
}
.coop-vacan-item-title {
  display: flex;
  gap: 10px;
  //   border: 1px solid red;
  align-items: center;
  //   justify-content: center;
}
.coop-vacan-item-desc {
  display: flex;
  flex-direction: column;
  //   gap: 10px;
}
.coop-vacan-item-number {
  color: #04a427;
  text-align: justify;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}
.coop-vacan-item-name {
  color: #06631b;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 123%; /* 24.6px */
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
.coop-vacan-plus-btn {
  padding: 0;
  width: 42px;
  height: 42px;
  border: none;
  background: transparent;
}
.bigBtnGreen {
  width: 193px;
  height: 193px;
  background-color: #04a427;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  transition: all 0.3s ease;
  transform-origin: center;
  position: absolute;
  bottom: 30px;
  right: 10%;
}
.bigBtnGreen img:nth-child(1) {
  width: 27px;
  height: 27px;
  position: absolute;
  top: 25%;
  left: 35%;
  transform: translate(-25%, -35%);
}
.bigBtnGreen span {
  width: 166px;
  height: 40px;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 19.8px */
  text-transform: uppercase;
  transform: rotate(-30deg);
}
.bigBtnGreen img:nth-child(3) {
  width: 44px;
  height: 28px;
  position: absolute;
  top: 75%;
  left: 70%;
  transform: translate(-75%, -70%) rotate(-30deg);
}
.bigBtnGreen:hover {
  box-shadow: 0 0 50px rgba(53, 114, 3, 0.9);
  animation: rotateBtn 2s infinite linear;
}

@keyframes rotateBtn {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
