@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Regular.ttf'),
    url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Cormorant Unicase';
  src: local('CormorantUnicase-Regular.ttf'),
    url('../fonts/CormorantUnicase-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
