.footer-container {
  width: 100%;
  height: 1260px;
  display: flex;
  //   align-items: start;
  justify-content: center;
  margin-top: -175px;
}
.logo-group {
  width: 1016px;
  height: 1016px;
  border-radius: 1016px;
  background-color: rgba(20, 114, 12, 0.03);
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle-middle {
  width: 854px;
  height: 854px;
  border-radius: 854px;
  background: rgba(20, 114, 12, 0.03);
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle-small {
  width: 670px;
  height: 670px;
  border-radius: 100%;
  background: rgba(20, 114, 12, 0.03);
  display: flex;
  align-items: center;
  justify-content: center;
  
  img {
        // border: 1px solid red;
    width: 476px;
    // height: 415px;
  }
}
.footer-info {
  width: 100%;
  max-width: 1920px;
  //   height: auto;
  height: 750px;
  position: absolute;
  bottom: 0;
  background-image: url('../images/footer-cat.webp');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: end;
  background-position: bottom;
  justify-content: center;
  padding-bottom: 50px;
}
.footer-text {
  width: 422px;
  height: 154px;
  color: #06631b;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 24px */
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin-right: 120px;
  transform: rotate(-15deg);
  display: flex;
  align-items: end;
  justify-content: end;
  span {
    width: 236px;
  }
}
.footer-policy {
  width: 422px;
  height: 154px;
  border-radius: 43px;
  border-top: 2px solid #04a427;
  border-bottom: 2px solid #04a427;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  padding: 37px 65px;
  //   border: 1px solid red;
  color: #06631b;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
  display: flex;
  flex-direction: column;
  gap: 10px;
  // margin-right: auto;
}
.footer-devs {
  width: 422px;
  height: 154px;
  border-radius: 43px;
  border-top: 2px solid #04a427;
  border-bottom: 2px solid #04a427;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  padding: 50px 60px;
  color: #06631b;
  text-align: right;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
  margin-left: 70px;
}
.devs-green {
  color: #04a427;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
}
