.header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 10;
  padding: 15px 100px;
  // border: 1px solid red;
  width: 100%;
  // max-width: 1920px;
}
.header__container,
.header__container-main {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.main-container {
  position: relative;
  background: #f3fff6;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  z-index: 101;
}
.header-main {
  position: sticky;
  // position: absolute;
  // z-index: 10000;
  width: 100%;
  top: 0;
  padding: 15px 100px;
  border-radius: 0px 0px 30px 30px;
  background: rgba(6, 99, 27, 0.75);
  box-shadow: 0px 4px 7px 0px rgba(6, 99, 27, 0.2);
  backdrop-filter: blur(10px);
  z-index: 5555;
  // overflow: hidden;
}
.header__nav-list {
  display: flex;
  gap: 54px;
  color: $color-white;
  //   margin: 0 auto;
  //   width: auto;
  //   height: 100px;
}

.header__nav-list-item {
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.18px;

  // &:hover {
  //   scale: (1.2);
  // }
}
.header__filii {
  width: 86px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  color: #fff;
  padding: 0;
  .arrow {
    margin-top: 2px;
  }
}

.filii-popap {
  width: 400px;
  height: 618px;
  margin-top: 17px;
  // border: 1px solid red;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.98);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(3px);
  padding: 23px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
}

// .popup-content {
// position: relative;
// }
.filii-card {
  display: flex;
  flex-direction: column;
  // gap: 5px;
  padding: 19px;
  border-radius: 17px;
  border-top: 1px solid rgba(4, 164, 39, 0.8);
  border-bottom: 1px solid rgba(4, 164, 39, 0.8);
  background: #f3fff6;
  backdrop-filter: blur(1px);
}
.filii-card-number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.filii-phone {
  color: #04a427;
  text-align: justify;
  font-family: 'Cormorant Unicase';
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 38px */
  letter-spacing: 0.5px;
  text-transform: uppercase;
  // margin-bottom: 20px;
  // border: 1px solid red;
}
.filii-address {
  display: flex;
  gap: 5px;
  align-items: start;
  margin-top: 10px;
  color: #06631b;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 123%; /* 22.14px */
  text-transform: uppercase;
}

.header__nav-link {
  display: flex;
  gap: 8px;
  align-items: center;
  // justify-content: center;
}

.header__logo {
  height: 100%;
}
.header__contacts {
  display: flex;
  gap: 25px;
  align-items: center;
}
.header__contacts-item {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  // border: 1px solid red;
  position: relative;
}

.phone-icon {
  fill: $color-text;
}

.header__contacts-item-btn {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
}
.header__contacts-item img {
  fill: $color-white;
}

.header__contacts-item p {
  color: $color-text;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.22px;
}
.popap-phone {
  width: 400px;
  height: 415px;
  position: absolute;
  left: 0;
  top: 37px;
  // border: 1px solid red;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(2px);
  padding: 23px 21px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.popap-phone-wrap {
  width: 358px;
  height: 368px;
  border-radius: 20px;
  border-top: 1px solid rgba(4, 164, 39, 0.4);
  border-bottom: 1px solid rgba(4, 164, 39, 0.4);
  background: #06631b;
  backdrop-filter: blur(2px);
  padding: 5px;
  display: flex;
  flex-direction: column;

  img {
    border-radius: 16px;
  }
}
.popap-phone-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.popap-phone-info-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    color: #f3fff6;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 18px */
  }
  div {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}
.popap-phone-info-numbers {
  display: flex;
  flex-direction: column;
  gap: 5px;
  span {
    color: #fff;
    text-align: justify;
    font-family: 'Cormorant Unicase';
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 38px */
    letter-spacing: 0.76px;
    text-transform: uppercase;
  }
}
.popap-phone-info-links {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: end;
  color: #dadc00;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
}
.header__button-link {
  display: inline-flex;
  padding: 3px 39px 3px 5px;
  align-items: center;
  gap: 13px;
  border-radius: 68px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(1.5px);
  &:hover {
    scale: 1.1;
  }
}

.header__button-link p {
  color: $color-white;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.18px;
}

.button-ellipse {
  display: flex;
  width: 38px;
  height: 38px;
  align-items: center;
  justify-content: center;
  border-radius: 68px;
  border: 1px solid var(--dark-gren, #095119);
  background: $color-white;
}

.language-switcher {
  display: flex;
}

.language-switcher button {
  background: transparent;
  border: none;
  color: $color-white;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  opacity: 0.6;
}
.language-switcher button.active {
  opacity: 1;
}
.show {
  // display: block;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.hidden {
  display: none;
}
