.banner-container {
  margin: 0 auto;
  max-width: 1920px;
  max-height: 923px;
}
.banner {
  position: relative;
  // justify-content: center;
  //   margin-top: 150px;
}

.banner__main-text {
  // gap: 279px;
  width: 1720px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
//   border: 2px solid red;
}

.banner__main-text img {
  max-width: 100%;
}

.img {
  height: 100%;
}

@keyframes scaleSnake {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
//   25% {
//     transform: translate(-50%, -50%) scale(1.1);
//   }
  50% {
    transform: translate(-50%, -50%) scale(1.15);
  }
//   75% {
//     transform: translate(-50%, -50%) scale(1.1);
//   }
}

.banner__headsnake {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: scaleSnake 5s linear infinite;
}
