* {
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  // overflow: hidden;
  // background: $page-bgn-color;
  background: rgba(4, 164, 39, 0.4);
}

span {
  user-select: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  cursor: pointer;
}
button {
  transition: all 1s ease-in;
}

ol,
ul {
  list-style: none;
  padding-inline-start: 0;
}

a {
  text-decoration: none;
  color: currentColor;
  transition: all 0.5s ease-in;
}

a:hover {
  transform: scale(1.1);
}
address {
  font-style: normal;
}
