* {
  margin: 0;
}

html,
body {
  height: 100%;
    // background: $page-bgn-color;
    background: #000;

}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ol,
ul {
  list-style: none;
  padding-inline-start: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

address {
  font-style: normal;
}
