.services-container {
  width: 100%;
  padding: 75px 100px;
  border-radius: 50px 50px 0px 0px;
  border-top: 1.5px solid rgba(10, 97, 26, 0.3);
  background: rgba(255, 255, 255, 0.75);
  // background-image: url('../images/services-bg.png');
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
}
.services-title {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.services-name {
  color: #04a427;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 22px */
  letter-spacing: -0.2px;
}
.services-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 1170px;
}
.services-desc {
  color: #06631b;
  font-family: Montserrat;
  font-size: 43px;
  font-style: normal;
  font-weight: 500;
  line-height: 123%; /* 52.89px */
  letter-spacing: 0.86px;
  text-transform: uppercase;
}
.services-desc-color {
  color: #04a427;
  font-family: 'Cormorant Unicase';
  font-size: 49px;
  font-style: normal;
  font-weight: 500;
  line-height: 123%;
  letter-spacing: 0.98px;
  text-transform: uppercase;
}
.services-team {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: space-between;
}
.services-team-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.services-team-text {
  color: #06631b;
  text-align: justify;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
  letter-spacing: -0.18px;
}

.services-main {
  margin-top: 57px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.services-main-line1,
.services-main-line2,
.services-main-block3-line1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 370px;
  width: 100%;
  gap: 45px;
}

.big-box {
  height: 100%;
  width: 761px;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  padding: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sml1-box1 {
  background-image: url('../images/services2.png');
}
.services-main-box-title {
  color: #06631b;
  font-family: 'Cormorant Unicase';
  font-size: 43px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 43px */
  letter-spacing: -0.86px;
  text-transform: uppercase;
}
.services-main-box-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 172px;
  height: 44px;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(3.5px);
  color: #06631b;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.4px;
  text-transform: uppercase;
}
.small-box {
  height: 100%;
  width: 379px;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  padding: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sml1-box2 {
  background-image: url('../images/services3.png');
}
.mid-box {
  width: 489px;
  height: 370px;
  border-radius: 40px;
  border-top: 1.5px solid rgba(4, 164, 39, 0.4);
  border-bottom: 1.5px solid rgba(4, 164, 39, 0.4);
  background: #f3fff6;
  backdrop-filter: blur(3.5px);
  padding: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    color: #04a427;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 26px */
    text-transform: uppercase;
  }
}
.sml1-box4 {
  background-image: url('../images/services4.png');
}
.sml1-box5 {
  background-image: url('../images/services5.png');
}
.sml1-box6 {
  background-image: url('../images/services6.png');
}
.sml1-box7 {
  background-image: url('../images/services7.png');
}

.services-main-block3 {
  display: flex;
  justify-content: space-between;
}

.services-main-block3-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.services-main-block3-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.services-main-block3-line2 {
  display: flex;
  justify-content: space-between;
}

.sml1-box8 {
  width: 489px;
  height: 528px;
  border-radius: 30px;
  background-image: url('../images/services8.png');
}
.services-main-block3-line2-left {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  span {
    width: 134px;
    color: #06631b;
    font-family: 'Cormorant Unicase';
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 23px */
    letter-spacing: -0.46px;
    text-transform: uppercase;
  }
}
.sml1-box9 {
  width: 215px;
  height: 215px;
  border-radius: 30px;
  background-image: url('../images/services9.png');
}
.services-main-block3-line2-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.services-main-block3-line2-right-up {
  position: relative;
  width: 627px;
  height: 694px;
  border-radius: 40px;
  background-image: url('../images/services10.png');
  overflow: hidden;
  div {
    position: absolute;
    top: 0;
    width: 627px;
    height: 120px;
    border-radius: 40px 40px 0px 0px;
    background: rgba(243, 255, 246, 0.7);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      color: #06631b;
      text-align: center;
      font-family: 'Cormorant Unicase';
      font-size: 43px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%; /* 43px */
      letter-spacing: -0.86px;
      text-transform: uppercase;
    }
  }
}

.services-main-block3-line2-right-down {
  display: flex;
  justify-content: space-between;
}

.box11 {
  width: 335px;
  height: 317px;
  padding: 45px;
  border-radius: 30px;
  background-image: url('../images/services11.png');
}
.box12 {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  span {
    width: 227px;
    color: #06631b;
    text-align: center;
    font-family: 'Cormorant Unicase';
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 25.3px */
    letter-spacing: -0.46px;
    text-transform: uppercase;
  }
}
.sml1-box12 {
  width: 215px;
  height: 215px;
  border-radius: 30px;
  background-image: url('../images/services12.png');
}
.sml3-box13 {
  position: relative;
  margin-top: auto;
  width: 489px;
  height: 317px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  border-top: 1.5px solid #04a427;
  border-bottom: 1.5px solid #04a427;
  backdrop-filter: blur(3.5px);
  img {
    position: absolute;
    bottom: 0;
    left: 30px;
  }
}

