.visits-container {
  max-width: 1920px;
  width: 100%;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 75px;
}
.visit-before {
  margin: 0 100px;
  width: 1720px;
  height: 733px;
  flex-shrink: 0;
  border-radius: 40px;
  border-top: 1.5px solid rgba(4, 164, 39, 0.4);
  border-bottom: 1.5px solid rgba(4, 164, 39, 0.4);
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(3.5px);
  padding: 65px 35px 75px 35px;
  display: flex;
  flex-direction: column;
}
.visit-before > img {
  width: 188px;
  height: 150px;
  border-radius: 40px;
  // border: 1px solid red;
  border-radius: 30px 30px 40px 40px;
  mix-blend-mode: darken;
  position: absolute;
  left: 0;
  bottom: -7px;
}
.visit-before-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.visit-before-info-title {
  color: #04a427;
  text-align: justify;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
}
.visit-before-info-text {
  width: 494px;
  color: #04a427;
  text-align: center;
  font-family: 'Cormorant Unicase';
  font-size: 49px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 53.9px */
  letter-spacing: -0.98px;

  text-transform: uppercase;
  span {
    color: #06631b;
    font-family: Montserrat;
    font-size: 43px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.86px;
    text-transform: uppercase;
  }
}
.visit-before-images {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.visit-image-title {
  color: #095119;
  text-align: justify;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}
.visit-before-images-block-first,
.visit-before-images-block-second,
.visit-before-images-block-third {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.visit-before-group {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  img {
    border-radius: 30px;
  }
}
.img4 {
  width: 137px;
  text-align: center;
}
.img5 {
  width: 198px;
  text-align: center;
}
.visit-before-images-block-first {
  display: flex;
  gap: 115px;
  margin-top: -50px;
  margin-bottom: auto;
}
.visit-before-images-block-second {
  gap: 80px;
}

.visit-defore-after {
  width: 627px;
  height: 216.797px;
  border-radius: 30px;
  border-top: 1.5px solid rgba(4, 164, 39, 0.4);
  border-bottom: 1.5px solid rgba(4, 164, 39, 0.4);
  background: rgba(243, 255, 246, 0.8);
  backdrop-filter: blur(3.5px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.visit-defore-after-text {
  color: #06631b;
  text-align: center;
  font-family: Montserrat;
  font-size: 43px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 47.3px */
  letter-spacing: -0.86px;
  text-transform: uppercase;
  span {
    color: #04a427;
    font-family: 'Cormorant Unicase';
    font-size: 49px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.98px;
    text-transform: uppercase;
  }
}
.visit-after {
  width: 100%;
  height: 1787px;
  border-radius: 50px;
  border-top: 1.5px solid rgba(7, 97, 26, 0.3);
  border-bottom: 1.5px solid rgba(7, 97, 26, 0.3);
  background: #e2ffe9;
  padding: 75px 100px;
  display: flex;
  flex-direction: column;
  gap: 75px;
}
.visit-after-line1 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 42px;
  align-items: center;
  span {
    color: #095119;
    text-align: justify;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
    text-transform: uppercase;
  }
  img {
    border-radius: 40px;
  }
  .img-pos {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 30px;
  }
}
.visit-after-line2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 42px;
  align-items: center;
  justify-content: center;
  position: relative;
  span {
    color: #095119;
    text-align: justify;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
    text-transform: uppercase;
  }
}
.line2-img-pos {
  border-radius: 40px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.visit-after-line2-item2 {
  display: flex;
  flex-direction: column;
  gap: 75px;
  align-items: center;
  justify-content: space-between;
  img {
    border-radius: 30px;
  }
}
.visit-after-line2-item2-frame {
  width: 565px;
  height: 424px;
  border-radius: 40px;
  border-top: 1.5px solid #04a427;
  border-bottom: 1.5px solid #04a427;
  background: #f3fff6;
  backdrop-filter: blur(3.5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 75px 130px 0;
  span {
    color: #06631b;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    text-align: center;
    .frame-text-green {
      color: #04a427;
      font-family: Cormorant;
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 26.4px */
      letter-spacing: 0.44px;
      text-transform: uppercase;
    }
  }
  button {
    bottom: 64px;
  }
}
.visit-after-line2-item3 {
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: absolute;
  right: 0;
  bottom: 0;
  img {
    border-radius: 30px;
  }
  span {
    width: 226px;
    color: #095119;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 19.8px */
  }
}
