<div class="callSms">
  <div class="sms filii-mob-btn">
    <button class="fil-mob-btn">
      <img src="./images/filii-mob-btn.svg" alt="filii" class="show" />
      <img src="./images/close-fil-mob.svg" alt="filii" class="hidden" />
    </button>
    <div class="fil-mob-popap hidden">
      <span
        >Вул Мазепи 39 <br />
        т.0669861299</span
      >
      <span
        >Вул Данiла Галицького 25 <br />
        т.0669861298</span
      >
      <span
        >Вул Новоорловська 4 т.0669861290 <br />
        Запис на прийом: 0632306007, вайбер, вотсап, телеграм: 0679861278</span
      >
    </div>
  </div>
  <div class="sms">
    <button class="tel-popap-btn">
      <img src="./images/Phonegreen.svg" alt="phone" class="show" />
      <img src="./images/close-fil-mob.svg" alt="filii" class="hidden" />
    </button>
    <div class="tel-popap hidden">
      <a href="tel:+380632306007">
        <img
          src="./images/Phonegreen.svg"
          alt="phone-icon"
          width="16"
          height="16"
        />
        +38 063 230 60 07</a
      >
      <a href="tel:+380669861290"
        ><img
          src="./images/Phonegreen.svg"
          alt="phone-icon"
          width="16"
          height="16"
        />+38 066 986 12 90</a
      >
      <a href="tel:+380679861278"
        ><img
          src="./images/Phonegreen.svg"
          alt="phone-icon"
          width="16"
          height="16"
        />+38 067 986 12 78</a
      >
    </div>
  </div>
  <div class="sms pulse-anim">
    <button class="sms-popap-btn">
      <img src="./images/Message.svg" alt="sms" />
    </button>
    <div class="sms-popap hidden">
      <a href="https://www.instagram.com/zoowild_vet/" target="_blank">
        <img src="./images/form-insta.svg" alt="insta-icon" />
      </a>
      <a href="mailto: zoowild22@icloud.com" target="_blank">
        <img src="./images/form-mail.svg" alt="mail-icon" />
      </a>
      <a href="" target="_blank">
        <img src="./images/form-fb.svg" alt="fb-icon" />
      </a>
      <a href="https://wa.me/380679861278" target="_blank">
        <img src="./images/form-whatsapp.svg" alt="whatsapp-icon" />
      </a>
      <a href="viber://chat?number=+380679861278" target="_blank">
        <img src="./images/form-viber.svg" alt="viber-icon" />
      </a>
      <a href="https://t.me/SvZoowild" target="_blank">
        <img src="./images/form-telegram.svg" alt="telega-icon" />
      </a>
      <button class="sms-close-popap">
        <img src="./images/btn-cross.svg" alt="close-btn" />
      </button>
    </div>
  </div>
</div>
