<section class="company-numbers-container" id="numbers">
  <div class="company-numbers-title">
    <span class="company-numbers-title-text">Kомпанiя у цифрах</span>
    <span class="company-numbers-title-desc">
      лікуємо, стрижемо, надаємо допомогу та
      <span class="cnti-color"> піклуємося про вашого улюбленця </span>
      із щирою любов'ю та професіоналізмом! Ваш пухнастик завжди в надійних
      руках
    </span>
  </div>
  <div class="company-numbers-info">
    <div class="cni-block">
      <div class="cni-block-box">
        <div class="cnibb-container">
          <span class="cnibb-numbers"
            >30 000
            <!-- <div class="circle-plus">
              <img src="./images/plus.svg" alt="plus" />
            </div> -->
          </span>
          <span class="cnibb-text">Проведенно успiшних операцiй у тварин</span>
        </div>
      </div>
      <div class="cni-block-box">
        <div class="cnibb-container">
          <span class="cnibb-numbers"
            >142 500
            <!-- <div class="circle-plus">
              <img src="./images/plus.svg" alt="plus" />
            </div> -->
          </span>
          <span class="cnibb-text"
            >Здiйснено прийомів, консультацій, діагностик та інших
            спеціалізованих дій з тваринами</span
          >
        </div>
      </div>
    </div>
    <div class="cni-block">
      <div class="cni-block-box">
        <div class="cnibb-container">
          <span class="cnibb-numbers"
            >15 500
            <!-- <div class="circle-plus">
              <img src="./images/plus.svg" alt="plus" />
            </div> -->
          </span>
          <span class="cnibb-text">врятованних котiв</span>
        </div>
      </div>
      <div class="cni-block-box">
        <div class="cnibb-container">
          <span class="cnibb-numbers"
            >8350
            <!-- <div class="circle-plus">
              <img src="./images/plus.svg" alt="plus" />
            </div> -->
          </span>
          <span class="cnibb-text">Прооперованних собак</span>
        </div>
      </div>
    </div>
  </div>
</section>
