<section class="contacts-container" id="contacts">
  <div class="contacts-title-group">
    <span class="contacts-title-group-name">Контакти</span>
    <span class="contacts-title-group-desc"
      >Ми завжди
      <span class="contacts-title-green"> вам радi </span>
      Та готовi з радiстЮ допомогти покращiти
      <span class="contacts-title-green"> стан здоров’я вашого питомця </span>
    </span>
  </div>
  <div class="contacts-group">
    <div class="contacts-card">
      <div class="number-phone">
        <span class="number">01</span>
        <span class="phone">+38 (066) 986 12 98</span>
      </div>
      <div class="address-time">
        <div class="address">
          <img src="./images/map-point.svg" alt="map-icon" />
          <span
            >М.Днiпро, <br />
            Вул. Мазепи 39</span
          >
        </div>
        <div class="time">
          <img src="./images/clock.svg" alt="clock-icon" />
          Пн-Пт:
          <span> 09:00-18:00</span>
        </div>
      </div>
      <div class="show-maps">
        <a href="https://maps.app.goo.gl/bRXaCJe5w9WaVD1g6" target="_blank"
          >Показати на мапі</a
        >
      </div>
    </div>
    <div class="contacts-card">
      <div class="number-phone">
        <span class="number">02</span>
        <span class="phone">+38 (066) 861 12 90</span>
      </div>
      <div class="address-time">
        <div class="address">
          <img src="./images/map-point.svg" alt="map-icon" />
          <span>М.Днiпро, <br />Вул. Новоорловська 4 </span>
        </div>
        <div class="time">
          <img src="./images/clock.svg" alt="clock-icon" />
          Пн-Пт:
          <span> 09:00-18:00</span>
        </div>
      </div>
      <div class="show-maps">
        <a href="https://maps.app.goo.gl/MriLxtYJJbMkkdrv6" target="_blank"
          >Показати на мапі</a
        >
      </div>
    </div>
    <div class="contacts-card">
      <div class="number-phone">
        <span class="number">03</span>
        <span class="phone">+38 (066) 986 12 98</span>
      </div>
      <div class="address-time">
        <div class="address">
          <img src="./images/map-point.svg" alt="map-icon" />
          <span>М.Днiпро, <br />Вул. Данiла Галицького 25</span>
        </div>
        <div class="time">
          <img src="./images/clock.svg" alt="clock-icon" />
          Пн-Пт:
          <span> 09:00-18:00</span>
        </div>
      </div>
      <div class="show-maps">
        <a href="https://maps.app.goo.gl/KFu8o9nqD8zKP1kW8" target="_blank"
          >Показати на мапі</a
        >
      </div>
    </div>
  </div>
  <div class="contacts-map">
    <div class="cont-img-info">
      <img src="./images/contacts-cat.jpg" alt="cat" />
      <div class="cont-img-info-desc">
        <div class="cont-img-info-title">
          <span>Запис на прийом</span>
          <span class="cont-img-info-time">
            <img src="./images/time.svg" alt="clock" width="11" height="11" />
            00:00-24:00</span
          >
        </div>
        <div class="cont-img-info-phone">
          <span>+38 (063) 230 60 07</span>
          <span>+38 (067) 986 12 78</span>
        </div>
        <!-- сюда надо вставить реальные ссылки на соцсети -->
        <div class="cont-img-info-links">
          <a href="https://www.viber.com/ru/">Viber</a>
          <a href="https://www.whatsapp.com/?lang=ru_RU">WathsApp</a>
          <a href="https://web.telegram.org/a/">Telegram</a>
        </div>
      </div>
    </div>
    <div class="map-block">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2645.566970662961!2d34.976162099999996!3d48.464837499999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe36cbd6827ad%3A0xd72decf8030c1f7b!2sZoowild!5e0!3m2!1sru!2sua!4v1716189711477!5m2!1sru!2sua"
        width="1140"
        height="545"
        style="border: 0"
        class="map-block"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
