<div class="contacts-container">
  <div class="contacts-title-group">
    <span class="contacts-title-group-name">Контакти</span>
    <span class="contacts-title-group-desc"
      >Ми завждi
      <span class="contacts-title-green"> вам радi </span>
      Та готовi с радiстЮ допомогти покращiти
      <span class="contacts-title-green"> стан здоров’я вашого питомця </span>
    </span>
  </div>
  <div class="contacts-group">
    <div class="contacts-card">
      <div class="number-phone">
        <span class="number">01</span>
        <span class="phone">+38 (066) 986 12 98</span>
      </div>
      <div class="address-time">
        <div class="address">
          <img src="./images/map-point.svg" alt="map-icon" />
          <span
            >М.Днiпро, <br />
            Вул. Мазепи 39</span
          >
        </div>
        <div class="time">
          <img src="./images/clock.svg" alt="clock-icon" />
          Пн-Пт:
          <span> 09:00-18:00</span>
        </div>
      </div>
      <div class="show-maps">
        <a href="https://maps.app.goo.gl/bRXaCJe5w9WaVD1g6" target="_blank"
          >Показати на мапі</a
        >
      </div>
    </div>
    <div class="contacts-card">
      <div class="number-phone">
        <span class="number">02</span>
        <span class="phone">+38 (066) 861 12 90</span>
      </div>
      <div class="address-time">
        <div class="address">
          <img src="./images/map-point.svg" alt="map-icon" />
          <span>М.Днiпро, <br />Вул. Новоорловська 4 </span>
        </div>
        <div class="time">
          <img src="./images/clock.svg" alt="clock-icon" />
          Пн-Пт:
          <span> 09:00-18:00</span>
        </div>
      </div>
      <div class="show-maps">
        <a href="https://maps.app.goo.gl/MriLxtYJJbMkkdrv6" target="_blank"
          >Показати на мапі</a
        >
      </div>
    </div>
    <div class="contacts-card">
      <div class="number-phone">
        <span class="number">03</span>
        <span class="phone">+38 (066) 986 12 98</span>
      </div>
      <div class="address-time">
        <div class="address">
          <img src="./images/map-point.svg" alt="map-icon" />
          <span>М.Днiпро, <br />Вул. Данiла Галицького 25</span>
        </div>
        <div class="time">
          <img src="./images/clock.svg" alt="clock-icon" />
          Пн-Пт:
          <span> 09:00-18:00</span>
        </div>
      </div>
      <div class="show-maps">
        <a href="https://maps.app.goo.gl/KFu8o9nqD8zKP1kW8" target="_blank"
          >Показати на мапі</a
        >
      </div>
    </div>
  </div>
</div>
