<section class="coop-container" id="cooperation">
  <span class="coop-title">Спiвпраця</span>
  <div class="coop-bage">
    <div class="coop-bage-desc">
      <span class="coop-bage-title">Ракитянська Світлана Вікторівна </span>
      <span class="coop-bage-text"
        >Засновниця та CEO
        <span class="text-green"> Zoowild </span>
        | Лікар ветеринарної медицини</span
      >
      <div class="sign">
        <img src="./images/signature.svg" alt="signature" />
      </div>
    </div>
    <img class="bage-photo" src="./images/coop1.jpg" alt="women" />
  </div>
  <div class="coop-vacancies">
    <span class="coop-vacancies-title"
      >Запрошуємо до співпраці
      <span class="green"> у нашій ветеринарній сім'ї </span></span
    >
    <span class="sub-title">Відкриті вакансії:</span>
    <div class="coop-vacan-block">
      <img src="./images/coop2.jpg" alt="dog" />
      <div class="coop-vacan-group">
        <div class="coop-vacan-item">
          <div class="coop-vacan-title">
            <div class="coop-vacan-item-title">
              <img class="lapa" src="./images/lapa.svg" alt="lapa" />
              <div class="coop-vacan-item-desc">
                <span class="coop-vacan-item-number">01</span>
                <span class="coop-vacan-item-name">Продавець-консультант</span>
              </div>
            </div>
            <button class="coop-vacan-plus-btn plus-btn">
              <img src="./images/vac-plus.svg" alt="plus-button" />
            </button>
            <button class="coop-vacan-plus-btn minus-btn hidden">
              <img src="./images/btn-minus.svg" alt="plus-button" />
            </button>
          </div>
          <div class="coop-vacan-item-opis hidden">
            <span>Опис вакансії:</span>
            <div class="coop-vacan-item-opis-desc">
              <span
                >Запрошуємо на роботу до родини <br />
                VETеринарногоMIXplace ZOOWILD
              </span>
              <ul>
                <li><span>Досвід роботи в зоосфері</span></li>
                <li><span>Знання асортименту товарів, реалізації</span></li>
                <li><span>Кваліфіковані консультації</span></li>
                <li>
                  <span>Контроль придатності, прийом товару, переобліки</span>
                </li>
                <li>
                  <span
                    >Навики роботи на касовому апараті, компʼюторі,
                    документація</span
                  >
                </li>
                <li>
                  <span
                    >Чистота! Повага та командна атмосфера серед працівників
                    закладу!</span
                  >
                </li>
                <li>
                  <span
                    >Цілеспрямованість в продажах та досягнення високих кас - у
                    процесі реалізації усих товарів</span
                  >
                </li>
              </ul>
              <span>Ми пропонуємо</span>
              <ul>
                <li>
                  <span>Високі продажі, жодного клієнта без покупки!</span>
                </li>
                <li><span>Офіційне працевлаштування</span></li>
                <li><span>Графік обговорюється, можливо 3/4дн</span></li>
                <li>
                  <span
                    >З/п ставка+відсоток від 2000-25000 тис залежно від досвіду
                    та майстерності високих продажів</span
                  >
                </li>
              </ul>
            </div>
            <div class="vacan-buttons">
              <button class="vacan-btn-link">
                <span>Вiдгукнутись</span>
                <img
                  src="./images/arrow-right-up.svg"
                  alt="arrow-right-up"
                  width="10"
                  height="10"
                />
              </button>
              <button
                class="vacan-btn-phone"
                onclick="location.href='tel:+380632306007';"
              >
                +38 063 230 60 07
              </button>
            </div>
          </div>
        </div>
        <div class="coop-vacan-item">
          <div class="coop-vacan-title">
            <div class="coop-vacan-item-title">
              <img class="lapa" src="./images/lapa.svg" alt="lapa" />
              <div class="coop-vacan-item-desc">
                <span class="coop-vacan-item-number">02</span>
                <span class="coop-vacan-item-name"
                  >Адміністратор-консультант</span
                >
              </div>
            </div>
            <button class="coop-vacan-plus-btn plus-btn plus-btn">
              <img src="./images/vac-plus.svg" alt="plus-button" />
            </button>
            <button class="coop-vacan-plus-btn minus-btn minus-btn hidden">
              <img src="./images/btn-minus.svg" alt="plus-button" />
            </button>
          </div>
          <div class="coop-vacan-item-opis hidden">
            <span>Опис вакансії:</span>
            <div class="coop-vacan-item-opis-desc">
              <span
                >Запрошуємо на роботу до родини <br />
                VETеринарногоMIXplace ZOOWILD
              </span>
              <ul>
                <li>
                  <span
                    >Цілеспрямована, активна, комунікабельна, товариська,
                    привітлива дівчина, любить спілкуватися з власниками
                    тварин</span
                  >
                </li>
                <li>
                  <span>Готова пояснювати і розʼяснювати все, і всім</span>
                </li>
                <li><span>Шукаємо талант залучення клієнтів!</span></li>
                <li>
                  <span
                    >Бажано з досвідом роботи у вет діяльності, можливо в
                    медичних послугах</span
                  >
                </li>
                <li>
                  <span
                    >Запис на прийом, операціі ,маніпуляції інші спеціалізовані
                    дії</span
                  >
                </li>
                <li>
                  <span
                    >Прийом замовлень на препарати, зоотовари, телефонні
                    консультації по послугам і товарам</span
                  >
                </li>
                <li>
                  <span>Ведення документації</span>
                </li>
              </ul>
              <span>Ми пропонуємо</span>
              <ul>
                <li>
                  <span>Графік за домовленістю</span>
                </li>
                <li><span>З/п від 1500/зміна</span></li>
              </ul>
            </div>
            <div class="vacan-buttons">
              <button class="vacan-btn-link">
                <span>Вiдгукнутись</span>
                <img
                  src="./images/arrow-right-up.svg"
                  alt="arrow-right-up"
                  width="10"
                  height="10"
                />
              </button>
              <button
                class="vacan-btn-phone"
                onclick="location.href='tel:+380632306007';"
              >
                +38 063 230 60 07
              </button>
            </div>
          </div>
        </div>
        <div class="coop-vacan-item">
          <div class="coop-vacan-title">
            <div class="coop-vacan-item-title">
              <img class="lapa" src="./images/lapa.svg" alt="lapa" />
              <div class="coop-vacan-item-desc">
                <span class="coop-vacan-item-number">03</span>
                <span class="coop-vacan-item-name"
                  >Лікар ветеринарної медицини</span
                >
              </div>
            </div>
            <button class="coop-vacan-plus-btn plus-btn">
              <img src="./images/vac-plus.svg" alt="plus-button" />
            </button>
            <button class="coop-vacan-plus-btn minus-btn hidden">
              <img src="./images/btn-minus.svg" alt="plus-button" />
            </button>
          </div>
          <div class="coop-vacan-item-opis hidden">
            <span>Опис вакансії:</span>
            <div class="coop-vacan-item-opis-desc">
              <span
                >Запрошуємо на роботу до родини <br />
                VETеринарногоMIXplace ZOOWILD
              </span>
              <ul>
                <li>
                  <span
                    >Запрошуємо до ветеринарної клініки Zoowild практикуючого
                    ветлікаря, сімейного ветлікаря з досвідом роботи від 3х
                    років</span
                  >
                </li>
                <li>
                  <span
                    >На постійну роботу з основної зайнятості, з офіційним
                    працевлаштуванням</span
                  >
                </li>
                <li>
                  <span
                    >Загальні прийоми, консультації, діагностика, УЗД, хірургія,
                    лікувальні дії, маніпуляції, виклик додому, звітність,
                    взаєморозрахунки, навички роботи на компʼютері</span
                  >
                </li>
                <li>
                  <span
                    >Чекаємо на найблагороднішого гуманного, важливого,
                    абсолютно люблячого ветеринарного лікаря!</span
                  >
                </li>
              </ul>
              <span>Ми пропонуємо</span>
              <ul>
                <li>
                  <span>Графік за індивідуальним планом</span>
                </li>
                <li>
                  <span
                    >Достойна оплата праці, від 30% на послуги, або ставка +
                    %</span
                  >
                </li>
                <li>
                  <span
                    >Можлива допомога в організації власної справи під назвою та
                    лого діючого бренда - ваш заробіток - повністю ваш!
                  </span>
                </li>
                <li>
                  <span>Працюємо разом та розвивайтесь!</span>
                </li>
              </ul>
            </div>
            <div class="vacan-buttons">
              <button class="vacan-btn-link">
                <span>Вiдгукнутись</span>
                <img
                  src="./images/arrow-right-up.svg"
                  alt="arrow-right-up"
                  width="10"
                  height="10"
                />
              </button>
              <button
                class="vacan-btn-phone"
                onclick="location.href='tel:+380632306007';"
              >
                +38 063 230 60 07
              </button>
            </div>
          </div>
        </div>
        <div class="coop-vacan-item">
          <div class="coop-vacan-title">
            <div class="coop-vacan-item-title">
              <img class="lapa" src="./images/lapa.svg" alt="lapa" />
              <div class="coop-vacan-item-desc">
                <span class="coop-vacan-item-number">04</span>
                <span class="coop-vacan-item-name"
                  >ветеринарний стоматолог</span
                >
              </div>
            </div>
            <button class="coop-vacan-plus-btn plus-btn">
              <img src="./images/vac-plus.svg" alt="plus-button" />
            </button>
            <button class="coop-vacan-plus-btn minus-btn hidden">
              <img src="./images/btn-minus.svg" alt="plus-button" />
            </button>
          </div>
          <div class="coop-vacan-item-opis hidden">
            <span>Опис вакансії:</span>
            <div class="coop-vacan-item-opis-desc">
              <span
                >Запрошуємо на роботу до родини <br />
                VETеринарногоMIXplace ZOOWILD
              </span>
              <ul>
                <li>
                  <span
                    >Запрошуємо до Zoowild професіонала ветеринарної
                    стоматології з досвідом роботи більше 2х років</span
                  >
                </li>
                <li><span>Ветосвіта, любов до тварин</span></li>
                <li>
                  <span
                    >Вузькопрофільна сертифікація, професіоналізм,
                    досвідченість, відповідальність</span
                  >
                </li>
              </ul>
              <span>Ми пропонуємо</span>
              <ul>
                <li>
                  <span>Постійна робота</span>
                </li>
                <li>
                  <span
                    >Достойна оплата праці, ( 40% від послуг або ставка +%,
                    власна справа під відомим брендом)</span
                  >
                </li>
                <li><span>Iндивідуальні умови.</span></li>
              </ul>
            </div>
            <div class="vacan-buttons">
              <button class="vacan-btn-link">
                <span>Вiдгукнутись</span>
                <img
                  src="./images/arrow-right-up.svg"
                  alt="arrow-right-up"
                  width="10"
                  height="10"
                />
              </button>
              <button
                class="vacan-btn-phone"
                onclick="location.href='tel:+380632306007';"
              >
                +38 063 230 60 07
              </button>
            </div>
          </div>
        </div>
        <div class="coop-vacan-item">
          <div class="coop-vacan-title">
            <div class="coop-vacan-item-title">
              <img class="lapa" src="./images/lapa.svg" alt="lapa" />
              <div class="coop-vacan-item-desc">
                <span class="coop-vacan-item-number">05</span>
                <span class="coop-vacan-item-name">Грумер</span>
              </div>
            </div>
            <button class="coop-vacan-plus-btn plus-btn">
              <img src="./images/vac-plus.svg" alt="plus-button" />
            </button>
            <button class="coop-vacan-plus-btn minus-btn hidden">
              <img src="./images/btn-minus.svg" alt="plus-button" />
            </button>
          </div>
          <div class="coop-vacan-item-opis hidden">
            <span>Опис вакансії:</span>
            <div class="coop-vacan-item-opis-desc">
              <span
                >Запрошуємо на роботу до родини <br />
                VETеринарногоMIXplace ZOOWILD
              </span>
              <ul>
                <li><span>Досвід роботи в зоосфері</span></li>
                <li><span>Знання асортименту товарів, реалізації</span></li>
                <li><span>Кваліфіковані консультації</span></li>
                <li>
                  <span>Контроль придатності, прийом товару, переобліки</span>
                </li>
                <li>
                  <span
                    >Навики роботи на касовому апараті, компʼюторі,
                    документація</span
                  >
                </li>
                <li>
                  <span
                    >Чистота! Повага та командна атмосфера серед працівників
                    закладу!</span
                  >
                </li>
                <li>
                  <span
                    >Цілеспрямованість в продажах та досягнення високих кас - у
                    процесі реалізації усих товарів</span
                  >
                </li>
              </ul>
              <span>Ми пропонуємо</span>
              <ul>
                <li>
                  <span>Високі продажі, жодного клієнта без покупки!</span>
                </li>
                <li><span>Офіційне працевлаштування</span></li>
                <li><span>Графік обговорюється, можливо 3/4дн</span></li>
                <li>
                  <span
                    >З/п ставка+відсоток від 2000-25000 тис залежно від досвіду
                    та майстерності високих продажів</span
                  >
                </li>
              </ul>
            </div>
            <div class="vacan-buttons">
              <button class="vacan-btn-link">
                <span>Вiдгукнутись</span>
                <img
                  src="./images/arrow-right-up.svg"
                  alt="arrow-right-up"
                  width="10"
                  height="10"
                />
              </button>
              <button
                class="vacan-btn-phone"
                onclick="location.href='tel:+380632306007';"
              >
                +38 063 230 60 07
              </button>
            </div>
          </div>
        </div>
        <div class="coop-vacan-item">
          <div class="coop-vacan-title">
            <div class="coop-vacan-item-title">
              <img class="lapa" src="./images/lapa.svg" alt="lapa" />
              <div class="coop-vacan-item-desc">
                <span class="coop-vacan-item-number">06</span>
                <span class="coop-vacan-item-name">пара ветеринар</span>
              </div>
            </div>
            <button class="coop-vacan-plus-btn plus-btn">
              <img src="./images/vac-plus.svg" alt="plus-button" />
            </button>
            <button class="coop-vacan-plus-btn minus-btn hidden">
              <img src="./images/btn-minus.svg" alt="plus-button" />
            </button>
          </div>
          <div class="coop-vacan-item-opis hidden">
            <span>Опис вакансії:</span>
            <div class="coop-vacan-item-opis-desc">
              <span
                >Запрошуємо на роботу до родини <br />
                VETеринарногоMIXplace ZOOWILD
              </span>
              <ul>
                <li>
                  <span
                    >Запрошуємо ПАРАВЕТЕРИНАРІВ - любителі тварин,
                    зооспеціалісти за покликанням душі без фахової освіти</span
                  >
                </li>
                <li>
                  <span
                    >З досвідом роботи та б/ досвіду у ветсфері, готових до
                    роботи і навчання під наглядом вет спеціаліста</span
                  >
                </li>
                <li>
                  <span
                    >Пунктуальність, порядність, відповідальність, уважність,
                    любити тварин обов’язково</span
                  >
                </li>
              </ul>
              <span>Ми пропонуємо</span>
              <ul>
                <li>
                  <span
                    >Графік роботи: індивідуально обговорюється, постійна
                    довгострокова робота</span
                  >
                </li>
                <li><span>Офіційне працевлаштування</span></li>
                <li><span>З/п від 22000грн</span></li>
              </ul>
            </div>
            <div class="vacan-buttons">
              <button class="vacan-btn-link">
                <span>Вiдгукнутись</span>
                <img
                  src="./images/arrow-right-up.svg"
                  alt="arrow-right-up"
                  width="10"
                  height="10"
                />
              </button>
              <button
                class="vacan-btn-phone"
                onclick="location.href='tel:+380632306007';"
              >
                +38 063 230 60 07
              </button>
            </div>
          </div>
        </div>
        <div class="vacan-form-submit hidden">
          <div class="vacan-form-submit-left">
            <img
              src="./images/form2.png"
              alt="woman"
              width="227"
              height="254"
            />
            <div class="checkbox-container">
              <span class="title">Оберiть посаду</span>
              <div class="checkbox-list">
                <input
                  type="checkbox"
                  id="option1"
                  name="option1"
                  class="vacan-checkbox"
                />
                <label for="option1" class="checkbox-label">
                  Продавець-консультант
                </label>
                <input
                  type="checkbox"
                  id="option2"
                  name="option2"
                  class="vacan-checkbox"
                />
                <label for="option2" class="checkbox-label">
                  Адміністратор-консультант
                </label>
                <input
                  type="checkbox"
                  id="option3"
                  name="option3"
                  class="vacan-checkbox"
                />
                <label for="option3" class="checkbox-label">
                  Лікар ветеринарної медицини
                </label>
                <input
                  type="checkbox"
                  id="option4"
                  name="option4"
                  class="vacan-checkbox"
                />
                <label for="option4" class="checkbox-label">
                  Ветеринарний стоматолог
                </label>
                <input
                  type="checkbox"
                  id="option5"
                  name="option5"
                  class="vacan-checkbox"
                />
                <label for="option5" class="checkbox-label"> Грумер </label>
                <input
                  type="checkbox"
                  id="option6"
                  name="option6"
                  class="vacan-checkbox"
                />
                <label for="option6" class="checkbox-label">
                  Пара ветеринар
                </label>
              </div>
            </div>
          </div>
          <div class="vacan-form-submit-right">
            <button class="vacan-form-submit-btn-close">
              <img src="./images/btn-cross.svg" alt="cross" />
            </button>
            <div class="vacan-form-submit-title">
              <img src="./images/form3.svg" alt="icon" />
              <span
                >Залиште ваші дані і найближчим часом ми з вами зв'яжемося</span
              >
            </div>
            <form id="vacan-submit-form">
              <div class="vacan-submit-form-group">
                <input
                  type="text"
                  id="vacan-name"
                  name="name"
                  placeholder="Ім'я*"
                  required
                />
              </div>
              <div class="vacan-submit-form-group">
                <input
                  type="tel"
                  id="vacan-phone"
                  name="phone"
                  placeholder="Телефон*"
                  required
                />
              </div>
              <div class="vacan-submit-form-group">
                <input
                  type="email"
                  id="vacan-email"
                  name="email"
                  placeholder="Пошта"
                />
              </div>
              <div class="vacan-submit-form-group-policy">
                <input
                  type="checkbox"
                  id="vacan-privacy-policy"
                  name="privacy-policy"
                  class="vacan-form-checkbox"
                  required
                />
                <label
                  for="vacan-privacy-policy"
                  class="vacan-form-checkbox-label policy"
                  >Підтверджуючи, ви погоджуєтесь з <br />
                  <a href="#">
                    <span> політикою конфіденційності </span>
                  </a>
                </label>
              </div>
              <button class="vacan-btn-link-submit">
                <span>Вiдгукнутись</span>
                <img
                  src="./images/arrow-right-up.svg"
                  alt="arrow-right-up"
                  width="10"
                  height="10"
                />
              </button>
            </form>
          </div>
        </div>
        <div class="vacan-submit-overlay hidden">
          <div class="vacan-submit-overlay-close">
            <button class="vacan-form-submit-btn-close vacan-overlay-close">
              <img src="./images/btn-cross.svg" alt="cross" />
            </button>
          </div>
          <img src="./images/form2.jpg" alt="woman" />
          <div class="vacan-submit-overlay-title">
            <span>
              Дякуємо за звернення, найближчим часом ми з вами зв'яжемося для
              уточненя деталей по цiй вакансії
            </span>
          </div>
        </div>
      </div>
      <button class="bigBtnGreen open-form">
        <img src="./images/Union.svg" alt="union" />
        <span>Залишити данi</span>
        <img src="./images/arrow-white-btn.svg" alt="arrow-right" />
      </button>
    </div>
  </div>
</section>
