<div class="coop-container">
  <span class="coop-title">Спiвпраця</span>
  <div class="coop-bage">
    <div class="coop-bage-desc">
      <span class="coop-bage-title">Ракитянська Світлана Вікторівна </span>
      <span class="coop-bage-text"
        >Засновниця та CEO
        <span class="text-green"> Zoowild </span>
        | Лікар ветеринарної медицини</span
      >
      <div class="sign">
        <img src="./images/signature.svg" alt="signature" />
      </div>
    </div>
    <img class="bage-photo" src="./images/coop1.jpg" alt="women" />
  </div>
  <div class="coop-vacancies">
    <span class="coop-vacancies-title"
      >Запрошуємо до співпраці
      <span class="green"> у нашій ветеринарній сім'ї </span></span
    >
    <span class="sub-title">Відкриті вакансії:</span>
    <div class="coop-vacan-block">
      <img src="./images/coop2.jpg" alt="dog" />
      <div class="coop-vacan-group">
        <div class="coop-vacan-item">
          <div class="coop-vacan-item-title">
            <img class="lapa" src="./images/lapa.svg" alt="lapa" />
            <div class="coop-vacan-item-desc">
              <span class="coop-vacan-item-number">01</span>
              <span class="coop-vacan-item-name">Продавець-консультант</span>
            </div>
          </div>
          <button class="coop-vacan-plus-btn">
            <img src="./images/vac-plus.svg" alt="plus-button" />
          </button>
        </div>
        <div class="coop-vacan-item">
          <div class="coop-vacan-item-title">
            <img class="lapa" src="./images/lapa.svg" alt="lapa" />
            <div class="coop-vacan-item-desc">
              <span class="coop-vacan-item-number">02</span>
              <span class="coop-vacan-item-name"
                >Адміністратор-консультант</span
              >
            </div>
          </div>
          <button class="coop-vacan-plus-btn">
            <img src="./images/vac-plus.svg" alt="plus-button" />
          </button>
        </div>
        <div class="coop-vacan-item">
          <div class="coop-vacan-item-title">
            <img class="lapa" src="./images/lapa.svg" alt="lapa" />
            <div class="coop-vacan-item-desc">
              <span class="coop-vacan-item-number">03</span>
              <span class="coop-vacan-item-name"
                >Лікар ветеринарної медицини</span
              >
            </div>
          </div>
          <button class="coop-vacan-plus-btn">
            <img src="./images/vac-plus.svg" alt="plus-button" />
          </button>
        </div>
        <div class="coop-vacan-item">
          <div class="coop-vacan-item-title">
            <img class="lapa" src="./images/lapa.svg" alt="lapa" />
            <div class="coop-vacan-item-desc">
              <span class="coop-vacan-item-number">04</span>
              <span class="coop-vacan-item-name">ветеринарний стоматолог</span>
            </div>
          </div>
          <button class="coop-vacan-plus-btn">
            <img src="./images/vac-plus.svg" alt="plus-button" />
          </button>
        </div>
        <div class="coop-vacan-item">
          <div class="coop-vacan-item-title">
            <img class="lapa" src="./images/lapa.svg" alt="lapa" />
            <div class="coop-vacan-item-desc">
              <span class="coop-vacan-item-number">05</span>
              <span class="coop-vacan-item-name">ГРумер</span>
            </div>
          </div>
          <button class="coop-vacan-plus-btn">
            <img src="./images/vac-plus.svg" alt="plus-button" />
          </button>
        </div>
        <div class="coop-vacan-item">
          <div class="coop-vacan-item-title">
            <img class="lapa" src="./images/lapa.svg" alt="lapa" />
            <div class="coop-vacan-item-desc">
              <span class="coop-vacan-item-number">06</span>
              <span class="coop-vacan-item-name">пара-ветеринар</span>
            </div>
          </div>
          <button class="coop-vacan-plus-btn">
            <img src="./images/vac-plus.svg" alt="plus-button" />
          </button>
        </div>
      </div>
      <button class="bigBtnGreen">
        <img src="./images/Union.svg" alt="union" />
        <span>Залишити данi</span>
        <img src="./images/arrow-white-btn.svg" alt="arrow-right" />
      </button>
    </div>
  </div>
</div>
