<div class="coop-container">
  <span class="coop-title">Спiвпраця</span>
  <div class="coop-bage">
    <div class="coop-bage-desc">
      <span class="coop-bage-title">Ракитянська Світлана Вікторівна </span>
      <span class="coop-bage-text"
        >Засновниця та CEO
        <span class="text-green"> Zoowild </span>
        | Лікар ветеринарної медицини</span
      >
      <div class="sign">
        <img src="./images/signature.svg" alt="signature" />
      </div>
    </div>
    <img class="bage-photo" src="./images/coop1.png" alt="women" />
  </div>
  <div class="coop-vacancies">
    <span class="coop-vacancies-title"
      >Запрошуємо до співпраці
      <span class="green"> у нашій ветеринарній сім'ї </span></span
    >
    <span class="sub-title">Відкриті вакансії:</span>
    <div class="coop-vacan-block">
      <img src="./images/coop2.png" alt="dog" />
    </div>
  </div>
</div>
