<section class="footer-container" id="footer">
  <div class="logo-group">
    <div class="circle-middle">
      <div class="circle-small">
        <img src="./images/Logo-footer.svg" alt="logo" />
      </div>
    </div>
  </div>
  <div class="footer-info">
    <!-- <img src="./images/footer-cat.png" alt="big-cat"> -->
    <div class="footer-text">
      <span>лікування без <br />стресу та болю</span>
      <span class="mob">лікування без стресу та болю</span>
    </div>
    <div class="footer-policy">
      <span>Політика конфіденційності</span>
      <span
        >© 2024, «ZooWild», <br />
        Усі права захищено</span
      >
    </div>
    <div class="footer-devs">
      <span
        >Дизайн та розробка:
      </span>
        <a href="https://www.instagram.com/boris__kruglov/" target="_blank">
          <span class="devs-green">kruglov.design</span>
        </a>
    </div>
  </div>
</section>
