<section class="form-container" id="form">
  <div class="form-small-photo">
    <img src="./images/form1.jpg" alt="woman with snake" />
  </div>
  <div class="form-main-photo">
    <img src="./images/form2.jpg" alt="woman" />
    <div class="form-socials">
      <a href="">
        <img src="./images/form-insta.svg" alt="insta-icon" />
      </a>
      <a href="">
        <img src="./images/form-mail.svg" alt="insta-icon" />
      </a>
      <a href="">
        <img src="./images/form-fb.svg" alt="insta-icon" />
      </a>
      <a href="">
        <img src="./images/form-whatsapp.svg" alt="insta-icon" />
      </a>
      <a href="">
        <img src="./images/form-viber.svg" alt="insta-icon" />
      </a>
      <a href="">
        <img src="./images/form-telegram.svg" alt="insta-icon" />
      </a>
    </div>
  </div>
  <div class="form-send-block">
    <div class="form-send-block-title">
      <img src="./images/form3.svg" alt="icon" />
      <span>
        Або Залиште ваші дані і найближчим часом ми з вами зв'яжемося
      </span>
    </div>
    <form id="contact-form">
      <div class="form-group">
        <input type="text" id="name" name="name" placeholder="Ім'я*" required />
      </div>
      <div class="form-group">
        <input
          type="tel"
          id="phone"
          name="phone"
          placeholder="Телефон*"
          required
        />
      </div>
      <div class="form-group">
        <input type="email" id="email" name="email" placeholder="Пошта" />
      </div>
      <div class="form-group checkbox-group">
        <input
          type="checkbox"
          id="privacy-policy"
          name="privacy-policy"
          required
        />
        <label for="privacy-policy" class="policy"
          >Підтверджуючи, ви погоджуєтесь з <br />
          <a href="#">
            <span> політикою конфіденційності </span>
          </a>
        </label>
      </div>
      <button type="submit" class="btn-form-submit">
        <img src="./images/Union.svg" alt="union" />
        <span>Записатися на прийом</span>
        <img src="./images/Vector.svg" alt="vector" />
      </button>
    </form>
  </div>
</section>
