<header class="header-main">
  <div class="header__container-main">
    <ul class="header__nav-list">
      <li class="header__nav-list-item">
        <a href="#" class="header__nav-link">Про компанiю</a>
      </li>
      <li class="header__nav-list-item">
        <a href="#" class="header__nav-link">Послуги</a>
      </li>
      <li class="header__nav-list-item">
        <a href="#" class="header__nav-link">
          <img src="./images/Frame 15.svg" alt="">
          Філії
          <img src="./images/arrow-down.svg" alt="">
        </a>
      </li>
      <li class="header__nav-list-item">
        <a href="#" class="header__nav-link">Контакти</a>
      </li>
    </ul>
    <div class="header__logo">
      <img src="./images/Logo-main.svg" alt="Logo-main" />
    </div>
    <ul class="header__contacts">
      <li class="header__contacts-item">
        <img
          class="phone-icon"
          src="./images/phone.svg"
          alt="phone"
          width="17"
          height="20"
        />
        <p>+38 063 230 60 07</p>
        <button>
          <img src="./images/arrow-down.svg" alt="arrow-down" />
        </button>
      </li>
      <li>
        <button type="button" class="header__button-link">
          <div class="button-ellipse">
            <img
              src="./images/snakemini.svg"
              alt="Logo"
              width="29"
              height="16"
            />
          </div>
          <p>Зв’язатися</p>
        </button>
      </li>
      <li>
        <ul class="language-switcher">
          <li><button onclick="changeLanguage(this)">UA</button></li>
          <li><button class="active" onclick="changeLanguage(this)">RU</button></li>
        </ul>
      </li>
    </ul>
  </div>
</header>
