<header class="header">
  <div class="header__container">
    <ul class="header__nav-list">
      <li class="header__nav-list-item">
        <a href="#numbers" class="header__nav-link">Про компанiю</a>
      </li>
      <li class="header__nav-list-item">
        <a href="#services" class="header__nav-link">Послуги</a>
      </li>
      <li class="header__nav-list-item">
        <button class="header__filii">
          <img src="./images/Frame 15.svg" alt="point" />
          <span>Філії</span>
          <img
            src="./images/arrow-down.svg"
            alt="arrow-down"
            width="14"
            height="8"
            class="arrow"
          />
        </button>
        <div class="filii-popap hidden">
          <div class="filii-card">
            <div class="filii-card-number">
              <span class="number">01</span>
              <div class="time">
                <img src="./images/clock.svg" alt="clock-icon" />
                Пн-Пт:
                <span> 09:00-18:00</span>
              </div>
            </div>
            <div>
              <span class="filii-phone">+38 (066) 986 12 98</span>
            </div>
            <div class="filii-address">
              <img src="./images/map-point.svg" alt="map-icon" />
              <span
                >М.Днiпро, <br />
                Вул. Мазепи 39</span
              >
            </div>
            <div class="show-maps">
              <a
                href="https://maps.app.goo.gl/bRXaCJe5w9WaVD1g6"
                target="_blank"
                >Показати на мапі</a
              >
            </div>
          </div>
          <div class="filii-card">
            <div class="filii-card-number">
              <span class="number">02</span>
              <div class="time">
                <img src="./images/clock.svg" alt="clock-icon" />
                Пн-Пт:
                <span> 09:00-18:00</span>
              </div>
            </div>
            <div>
              <span class="filii-phone">+38 (066) 861 12 90</span>
            </div>
            <div class="filii-address">
              <img src="./images/map-point.svg" alt="map-icon" />
              <span
                >М.Днiпро, Вул.<br />
                Новоорловська 4
              </span>
            </div>
            <div class="show-maps">
              <a
                href="https://maps.app.goo.gl/MriLxtYJJbMkkdrv6"
                target="_blank"
                >Показати на мапі</a
              >
            </div>
          </div>
          <div class="filii-card">
            <div class="filii-card-number">
              <span class="number">03</span>
              <div class="time">
                <img src="./images/clock.svg" alt="clock-icon" />
                Пн-Пт:
                <span> 09:00-18:00</span>
              </div>
            </div>
            <div>
              <span class="filii-phone">+38 (066) 986 12 98</span>
            </div>
            <div class="filii-address">
              <img src="./images/map-point.svg" alt="map-icon" />
              <span
                >М.Днiпро, <br />
                Вул. Данiла Галицького 25</span
              >
            </div>
            <div class="show-maps">
              <a
                href="https://maps.app.goo.gl/KFu8o9nqD8zKP1kW8"
                target="_blank"
                >Показати на мапі</a
              >
            </div>
          </div>
        </div>
      </li>
      <li class="header__nav-list-item">
        <a href="#contacts" class="header__nav-link">Контакти</a>
      </li>
    </ul>
    <div class="header__logo">
      <img src="./images/Logo.svg" alt="Logo" />
    </div>
    <ul class="header__contacts">
      <li class="header__contacts-item">
        <button class="header__contacts-item-btn">
          <img
            class="phone-icon"
            src="./images/phone.svg"
            alt="phone"
            width="17"
            height="20"
          />
          <p>+38 063 230 60 07</p>
          <img src="./images/arrow-down.svg" alt="arrow-down" />
        </button>
        <div class="popap-phone hidden">
          <div class="popap-phone-wrap">
            <img src="./images/contacts-cat.webp" alt="cat" />
            <div class="popap-phone-info">
              <div class="popap-phone-info-title">
                <span>Запис на прийом</span>
                <div>
                  <img src="./images/clock.svg" alt="clock" />
                  <span>00:00-24:00</span>
                </div>
              </div>
              <div class="popap-phone-info-numbers">
                <span>+38 (063) 230 60 07</span>
                <span>+38 (067) 986 12 78</span>
              </div>
              <div class="popap-phone-info-links">
                <a href="https://www.viber.com/ru/">Viber</a>
                <a href="https://www.whatsapp.com/?lang=ru_RU">WathsApp</a>
                <a href="https://web.telegram.org/a/">Telegram</a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <button type="button" class="header__button-link form-popap-btn">
          <div class="button-ellipse">
            <img
              src="./images/snakemini.svg"
              alt="Logo"
              width="29"
              height="16"
            />
          </div>
          <p>Зв’язатися</p>
        </button>
      </li>
      <li>
        <ul class="language-switcher">
          <li>
            <button class="active" onclick="changeLanguage(this)">UA</button>
          </li>
          <li>
            <button onclick="changeLanguage(this)">RU</button>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</header>
