<header class="header-main">
  <div class="header__container-mob">
    <a href="#main-banner">
      <img
        src="./images/logo-header-mob.svg"
        alt="logo"
        class="logo-header-mob"
      />
    </a>
    <div class="head-mob-btn-container">
      <button class="lang-switch-btn">
        <span>UA</span>
      </button>
      <button class="btn-contact-mob">
        <div>
          <img
            src="./images/snakemini-mob.svg"
            alt="snake-button"
            width="26"
            height="26"
          />
        </div>
      </button>
      <button class="burger-mob-btn">
        <img src="./images/mob-burger-btn.svg" alt="burger-btn" />
      </button>
    </div>
  </div>
  <div class="header__container-main">
    <ul class="header__nav-list">
      <li class="header__nav-list-item">
        <a href="#numbers" class="header__nav-link">Про компанiю</a>
      </li>
      <li class="header__nav-list-item">
        <a href="#services" class="header__nav-link">Послуги</a>
      </li>
      <li class="header__nav-list-item">
        <button class="header__filii">
          <img src="./images/Frame 15.svg" alt="" />
          Філії
          <img src="./images/arrow-down.svg" alt="" width="14" height="8" />
        </button>
        <div class="filii-popap hidden">
          <div class="filii-card">
            <div class="filii-card-number">
              <span class="number">01</span>
              <div class="time">
                <img src="./images/clock.svg" alt="clock-icon" />
                Пн-Вс:
                <span> 09:00-20:00</span>
              </div>
            </div>
            <div>
              <a href="tel:+380669861298">
                <span class="filii-phone">+38 (066) 986 12 98</span>
              </a>
            </div>
            <div class="filii-address">
              <img src="./images/map-point.svg" alt="map-icon" />
              <span
                >М.Днiпро, <br />
                Вул. Мазепи 39</span
              >
            </div>
            <div class="show-maps">
              <a
                href=""
                data-map="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2645.566970662961!2d34.976162099999996!3d48.464837499999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe36cbd6827ad%3A0xd72decf8030c1f7b!2sZoowild!5e0!3m2!1sru!2sua!4v1716189711477!5m2!1sru!2sua"
                class="show-map-link"
                >Показати на мапі</a
              >
            </div>
          </div>
          <div class="filii-card">
            <div class="filii-card-number">
              <span class="number">02</span>
              <div class="time">
                <img src="./images/clock.svg" alt="clock-icon" />
                Пн-Вс:
                <span> 08:00-20:00</span>
              </div>
            </div>
            <div>
              <a href="tel:+380668611290">
                <span class="filii-phone">+38 (066) 861 12 90</span>
              </a>
            </div>
            <div class="filii-address">
              <img src="./images/map-point.svg" alt="map-icon" />
              <span
                >М.Днiпро, Вул.<br />
                Новоорловська 4
              </span>
            </div>
            <div class="show-maps">
              <a
                href=""
          data-map="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2645.6660911587346!2d34.9822327!3d48.4629359!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe3bb304132cd%3A0xb618d60c0c4e7386!2z0YPQuy4g0J3QvtCy0L7QvtGA0LvQvtCy0YHQutCw0Y8sIDQsINCU0L3QtdC_0YAsINCU0L3QtdC_0YDQvtC_0LXRgtGA0L7QstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCA0OTAwMA!5e0!3m2!1sru!2sua!4v1719357476614!5m2!1sru!2sua"
          class="show-map-link"
                >Показати на мапі</a
              >
            </div>
          </div>
          <div class="filii-card">
            <div class="filii-card-number">
              <span class="number">03</span>
              <div class="time">
                <img src="./images/clock.svg" alt="clock-icon" />
                Пн-Вс:
                <span> 09:00-20:00</span>
              </div>
            </div>
            <div>
              <a href="tel:+380669861298">
                <span class="filii-phone">+38 (066) 986 12 98</span>
              </a>
            </div>
            <div class="filii-address">
              <img src="./images/map-point.svg" alt="map-icon" />
              <span
                >М.Днiпро, <br />
                Вул. Данiла Галицького 25</span
              >
            </div>
            <div class="show-maps">
              <a
                href=""
          data-map="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2645.818097014536!2d34.9394822!3d48.460019599999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe3eff2eae10f%3A0x6bdc25de7986b16e!2z0YPQuy4g0JTQsNC90LjQu9CwINCT0LDQu9C40YbQutC-0LPQviwgMjUsINCU0L3QtdC_0YAsINCU0L3QtdC_0YDQvtC_0LXRgtGA0L7QstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCA0OTAwMA!5e0!3m2!1sru!2sua!4v1719357609064!5m2!1sru!2sua"
          class="show-map-link"
                >Показати на мапі</a
              >
            </div>
          </div>
        </div>
      </li>
      <li class="header__nav-list-item">
        <a href="#contacts" class="header__nav-link">Контакти</a>
      </li>
    </ul>
    <div class="header__logo">
      <a href="#main-banner">
        <img src="./images/Logo-main.svg" alt="Logo-main" />
      </a>
    </div>
    <ul class="header__contacts">
      <li>
        <ul class="language-switcher">
          <li>
            <button class="active" onclick="changeLanguage(this)">UA</button>
          </li>
          <li>
            <button onclick="changeLanguage(this)">RU</button>
          </li>
        </ul>
      </li>
      <li class="header__contacts-item">
        <button class="header__contacts-item-btn">
          <img
            class="phone-icon"
            src="./images/phone.svg"
            alt="phone"
            width="17"
            height="20"
          />
          <p>+38 063 230 60 07</p>
          <img src="./images/arrow-down.svg" alt="arrow-down" />
        </button>
        <div class="popap-phone hidden">
          <div class="popap-phone-wrap">
            <img src="./images/contacts-cat.webp" alt="cat" />
            <div class="popap-phone-info">
              <div class="popap-phone-info-title">
                <span>Запис на прийом</span>
                <div>
                  <img
                    src="./images/time.svg"
                    alt="clock"
                    width="13"
                    height="13"
                  />
                  <span>08:00-21:00</span>
                </div>
              </div>
              <div class="popap-phone-info-numbers">
                <a href="tel:+380632306007">
                  <span>+38 (063) 230 60 07</span>
                </a>
                <a href="tel:+380679861278">
                  <span>+38 (067) 986 12 78</span>
                </a>
              </div>
              <div class="popap-phone-info-links">
                <a href="viber://chat?number=+380679861278" target="_blank"
                  >Viber</a
                >
                <a href="https://wa.me/380679861278" target="_blank"
                  >WathsApp</a
                >
                <a href="https://t.me/SvZoowild" target="_blank">Telegram</a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <button type="button" class="header__button-link form-popap-btn">
          <div class="button-ellipse">
            <img
              src="./images/snakemini.svg"
              alt="Logo"
              width="29"
              height="16"
            />
          </div>
          <p>Зв’язатися</p>
        </button>
      </li>
    </ul>
  </div>
</header>
