<header class="header">
  <div class="header__container">
    <ul class="header__nav">
      <li class="header__nav-list">
        <a href="#" class="header__nav-link">Про компанiю</a>
      </li>
      <li class="header__nav-list">
        <a href="#" class="header__nav-link">Послуги</a>
      </li>
      <li class="header__nav-list">
        <a href="#" class="header__nav-link">Філії</a>
      </li>
      <li class="header__nav-list">
        <a href="#" class="header__nav-link">Контакти</a>
      </li>
    </ul>
    <div class="header__logo">
      <img src="./images/Logo.png" alt="Logo" />
    </div>
    <ul class="header__contacts">
      <li>
        <select name="numbers" id="numbers">
          <option value="380632306007">+38 063 230 60 07</option>
          <option value="380669861290">+38 066 986 12 90</option>
          <option value="380679861278">+38 067 986 12 78</option>
        </select>
      </li>
      <li>
        <button type="button" class="header__button-link">
          <img src="./images/snakemini.png" alt="Logo" />
          <p>Зв’язатися</p>
        </button>
      </li>
      <li>UA RU</li>
    </ul>
  </div>
</header>
