<section class="banner-container">
  <div class="banner">
    <div class="banner__slider swiper">
      <div class="banner__slider-wrapper swiper-wrapper">
        <div class="banner__slider-slide swiper-slide">
          <div class="banner__slider-image">
            <picture>
              <source
                srcset="./images/slide1.png 1x"
                media="(min-width: 1440px)"
              />
              <img
                class="img"
                src="./images/slide1.png"
                width="1920"
                height="923"
                alt="Snake"
              />
            </picture>
            <div class="banner__main-text">
              <img src="./images/zoo.svg" alt="Zoo" />
              <img src="./images/wild.svg" alt="Wild" />
            </div>
            <img
              class="banner__headsnake"
              src="./images/headsnake.png"
              alt="headsnake"
              width="850"
              height="950"
            />
          </div>
        </div>
        <!-- <div class="banner__slider-slide swiper-slide">
          <div class="banner__slider-image">
            <picture>
              <source
                srcset="./images/slide1.png 1x"
                media="(min-width: 1440px)"
              />
              <img
                class="img"
                src="./images/slide1.png"
                width="1920"
                height="923"
                alt="Snake"
              />
            </picture>
          </div>
        </div>
        <div class="banner__slider-slide swiper-slide">
          <div class="banner__slider-image">
            <picture>
              <source
                srcset="./images/slide1.png 1x"
                media="(min-width: 1440px)"
              />
              <img
                class="img"
                src="./images/slide1.png"
                width="1920"
                height="923"
                alt="Snake"
              />
            </picture>
          </div>
        </div>
        <div class="banner__slider-slide swiper-slide">
          <div class="banner__slider-image">
            <picture>
              <source
                srcset="./images/slide1.png 1x"
                media="(min-width: 1440px)"
              />
              <img
                class="img"
                src="./images/slide1.png"
                width="1920"
                height="923"
                alt="Snake"
              />
            </picture>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>
