<section class="banner-container">
  <!-- <div class="banner">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="image">
            <picture>
              <source
                srcset="./images/slide1.png 1x"
                media="(min-width: 1440px)"
              />
              <img
                class="img"
                src="./images/slide1.png"
                width="1920"
                height="923"
                alt="Snake"
              />
            </picture>
          </div>
          <div class="banner__main-text">
            <img src="./images/zoo.svg" alt="Zoo" class="img1"/>
            <img src="./images/wild.svg" alt="Wild" class="img2"/>
          </div>
          <img
            class="banner__headsnake"
            src="./images/headsnake.png"
            alt="headsnake"
            width="850"
            height="950"
          />
        </div>
        
        
        
      </div>
      <div class="pagination">
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div> -->

  <div class="slider">
    <div class="slide-container">
      <div class="slide active" id="slide1">
        <!-- <img src="./images/slide1.png" alt="Slide 1" /> -->
        <div class="slide-wrapper">
          <span class="slide-title"
            >ZOO WILD
            <span class="slide-text">Мережа Ветеринарних клiнiк</span>
          </span>
          <div class="video-box">
            <button>
              <img src="./images/Polygon1.png" alt="button-play" />
            </button>
            <span>Дивитись вiдео про нашу Анаконду</span>
          </div>
          <button class="btnY">
            <img src="./images/Vector.png" alt="vector" />
          </button>
          <button class="moreBtn">
            <span
              >Дiзнатись бiльше
              <img src="./images/arrow-down-right.svg" alt="arrow-down-right" />
            </span>
            <div class="border-moreBtn"></div>
          </button>
          <div class="callSms">
            <button>
              <img src="./images/Phone.png" alt="phone" />
            </button>
            <div class="sms">
              <button>
                <img src="./images/Messagesms.png" alt="sms" />
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="slide" id="slide2">
        <div class="slide-wrapper">
          <span class="slide-title"
            >ZOO WILD
            <span class="slide-text">Мережа Ветеринарних клiнiк</span>
          </span>
        </div>
      </div>

      <div class="slide" id="slide3">
        <div class="slide-wrapper">
          <span class="slide-title"
            >ZOO WILD
            <span class="slide-text">Мережа Ветеринарних клiнiк</span>
          </span>
          <div class="video-box">
            <button>
              <img src="./images/Polygon1.png" alt="button-play" />
            </button>
            <span>Дивитись вiдео про нашу Анаконду</span>
          </div>
          <button class="btnY">
            <img src="./images/Vector.png" alt="vector" />
          </button>
          <button class="moreBtn">
            <span
              >Дiзнатись бiльше
              <img src="./images/arrow-down-right.svg" alt="arrow-down-right" />
            </span>
            <div class="border-moreBtn"></div>
          </button>
          <div class="callSms">
            <button>
              <img src="./images/Phone.png" alt="phone" />
            </button>
            <div class="sms">
              <button>
                <img src="./images/Messagesms.png" alt="sms" />
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="slide" id="slide4">
        <div class="slide-wrapper">
          <span class="slide-title"
            >ZOO WILD
            <span class="slide-text">Мережа Ветеринарних клiнiк</span>
          </span>
          <div class="video-box">
            <button>
              <img src="./images/Polygon1.png" alt="button-play" />
            </button>
            <span>Дивитись вiдео про нашу Анаконду</span>
          </div>
          <button class="btnY">
            <img src="./images/Vector.png" alt="vector" />
          </button>
          <button class="moreBtn">
            <span
              >Дiзнатись бiльше
              <img src="./images/arrow-down-right.svg" alt="arrow-down-right" />
            </span>
            <div class="border-moreBtn"></div>
          </button>
          <div class="callSms">
            <button>
              <img src="./images/Phone.png" alt="phone" />
            </button>
            <div class="sms">
              <button>
                <img src="./images/Messagesms.png" alt="sms" />
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Добавьте другие слайды здесь -->
    </div>

    <div class="pagination">
      <span class="count">01</span>
    </div>
  </div>

  <img src="./images/slide2.png" alt="Slide 2" />
</section>
