<div class="burger-overlay hidden">
  <div class="header-burger">
    <a href="#main-banner">
      <img src="./images/logo-burger-mob.svg" alt="logo" />
    </a>
    <button class="burger-btn-close">
      <img src="./images/burger-close-btn.svg" alt="close-burger-btn" />
    </button>
  </div>
  <div class="burger-main-cont">
    <div class="burg-links">
      <button class="burg-filii-btn">
        <img src="./images/fil-burg-point.svg" alt="point-icon" />
        <span>Філії</span>
        <img src="./images/fil-mob-burg-arrow.svg" alt="arrow-icon" />
      </button>
      <div class="burg-links-list">
        <a href="#numbers">
          <span>Про компанiю</span>
        </a>
        <a href="">
          <span>Журнал</span>
        </a>
        <a href="#services">
          <span>Послуги</span>
        </a>
        <a href="#contacts">
          <span>Контакти</span>
        </a>
      </div>
    </div>
    <button class="burg-tel-btn">
      <img src="./images/phone-burg.svg" alt="phone-icon" />
      <span>+38 063 230 60 07</span>
      <img src="./images/phone-burg-arrow.svg" alt="arrow-icon" />
    </button>
    <span class="burg-desc"
      >Лікуємо, стрижемо, надаємо допомогу та піклуємося про вашого улюбленця з
      щирою любов'ю та професіоналізмом! Ваш пухнастик завжди у надійних
      руках.</span
    >
    <button class="burg-visit-btn">
      <span>Записатися на прийом</span>
      <img src="./images/arrow-right-up.svg" alt="" />
    </button>
    <div class="gurg-socials">
      <span>Давайте дружити:</span>
      <div class="burg-soc-icons">
        <a href="" target="_blank">
          <img src="./images/fg-icon-mob.svg" alt="fb-icon" />
        </a>
        <a href="https://www.instagram.com/zoowild_vet/" target="_blank">
          <img src="./images/insta-icon-mob.svg" alt="insta-icon" />
        </a>
        <a href="" target="_blank">
          <img src="./images/yt-icon-mob.svg" alt="youtube-icon" />
        </a>
        <a href="https://t.me/SvZoowild" target="_blank">
          <img src="./images/telega-icon-mob.svg" alt="telega-icon" />
        </a>
      </div>
    </div>
  </div>
  <div class="burg-footer">
    <span>Розробка сайту: </span>
    <a href="https://www.instagram.com/boris__kruglov/" target="_blank"
      >kruglov.design</a
    >
  </div>
</div>
