<div class="burger-overlay hidden">
  <div class="header-burger">
    <a href="#main-banner">
      <img src="./images/logo-burger-mob.svg" alt="logo" />
    </a>
    <button class="burger-btn-close">
      <img src="./images/burger-close-btn.svg" alt="close-burger-btn" />
    </button>
  </div>
  <div class="burger-main-cont">
    <div class="burg-links">
      <div class="burg-fil">
        <button class="burg-filii-btn">
          <img src="./images/fil-burg-point.svg" alt="point-icon" />
          <span>Філії</span>
          <img src="./images/fil-mob-burg-arrow.svg" alt="arrow-icon" />
        </button>
        <div class="fil-burg-popap hidden">
          <span
            >Вул Мазепи 39 <br />
            т.0669861299</span
          >
          <span
            >Вул Данiла Галицького 25 <br />
            т.0669861298</span
          >
          <span
            >Вул Новоорловська 4 т.0669861290 <br />
            Запис на прийом: 0632306007, вайбер, вотсап, телеграм:
            0679861278</span
          >
        </div>
      </div>

      <div class="burg-links-list">
        <a href="#numbers">
          <span>Про компанiю</span>
        </a>
        <a href="#cooperation">
          <span>Вакансії</span>
        </a>
        <a href="#services">
          <span>Послуги</span>
        </a>
        <a href="#contacts">
          <span>Контакти</span>
        </a>
      </div>
    </div>
    <div class="burg-tel">
      <button class="burg-tel-btn">
        <img src="./images/phone-burg.svg" alt="phone-icon" />
        <span>+38 063 230 60 07</span>
        <img src="./images/phone-burg-arrow.svg" alt="arrow-icon" />
      </button>
      <div class="tel-burg-popap hidden">
        <a href="tel:+380632306007">
          <img
            src="./images/Phonegreen.svg"
            alt="phone-icon"
            width="16"
            height="16"
          />
          +38 063 230 60 07</a
        >
        <a href="tel:+380669861290"
          ><img
            src="./images/Phonegreen.svg"
            alt="phone-icon"
            width="16"
            height="16"
          />+38 066 986 12 90</a
        >
        <a href="tel:+380679861278"
          ><img
            src="./images/Phonegreen.svg"
            alt="phone-icon"
            width="16"
            height="16"
          />+38 067 986 12 78</a
        >
      </div>
    </div>
    <span class="burg-desc"
      >Лікуємо, стрижемо, надаємо допомогу та піклуємося про вашого улюбленця з
      щирою любов'ю та професіоналізмом! Ваш пухнастик завжди у надійних
      руках.</span
    >
    <button class="burg-visit-btn">
      <span>Записатися на прийом</span>
      <img src="./images/arrow-right-up.svg" alt="" />
    </button>
    <div class="burg-socials">
      <span>Давайте дружити:</span>
      <div class="burg-soc-icons">
        <a href="" target="_blank">
          <img src="./images/fg-icon-mob.svg" alt="fb-icon" />
        </a>
        <a href="https://www.instagram.com/zoowild_vet/" target="_blank">
          <img src="./images/insta-icon-mob.svg" alt="insta-icon" />
        </a>
        <a href="" target="_blank">
          <img src="./images/yt-icon-mob.svg" alt="youtube-icon" />
        </a>
        <a href="https://t.me/SvZoowild" target="_blank">
          <img src="./images/telega-icon-mob.svg" alt="telega-icon" />
        </a>
      </div>
    </div>
  </div>
  <div class="burg-footer">
    <span>Розробка сайту: </span>
    <a href="https://www.instagram.com/boris__kruglov/" target="_blank"
      >kruglov.design</a
    >
  </div>
</div>
