<div class="pharm-choose-container hidden">
  <div class="pharm-choose-overlay">
    <button type="button" class="farm-overlay-close">
      <img src="./images/btn-cross.svg" alt="button-close" />
    </button>
    <div class="pharmacy-popap">
      <div class="filii-card">
        <div class="filii-card-number-pharm">
          <span class="number">01</span>
          <div class="time-pharm">
            <img src="./images/clock.svg" alt="clock-icon" />
            Пн-Вс:
            <span> 09:00-20:00</span>
          </div>
        </div>
        <div>
          <a href="tel:+380669861298">
            <span class="filii-phone-pharm">+38 (066) 986 12 98</span>
          </a>
        </div>
        <div class="filii-address-pharm">
          <img src="./images/map-point.svg" alt="map-icon" />
          <span
            >М.Днiпро, <br />
            Вул. Мазепи 39</span
          >
        </div>
        <div class="show-maps">
          <a
            href=""
            data-map="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2645.566970662961!2d34.976162099999996!3d48.464837499999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe36cbd6827ad%3A0xd72decf8030c1f7b!2sZoowild!5e0!3m2!1sru!2sua!4v1716189711477!5m2!1sru!2sua"
            class="show-map-link"
            >Показати на мапі</a
          >
        </div>
      </div>
      <div class="filii-card">
        <div class="filii-card-number-pharm">
          <span class="number">02</span>
          <div class="time-pharm">
            <img src="./images/clock.svg" alt="clock-icon" />
            Пн-Вс:
            <span> 08:00-20:00</span>
          </div>
        </div>
        <div>
          <a href="tel:+380668611290">
            <span class="filii-phone-pharm">+38 (066) 861 12 90</span>
          </a>
        </div>
        <div class="filii-address-pharm">
          <img src="./images/map-point.svg" alt="map-icon" />
          <span
            >М.Днiпро, Вул.<br />
            Новоорловська 4
          </span>
        </div>
        <div class="show-maps">
          <a
            href=""
            data-map="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2645.6660911587346!2d34.9822327!3d48.4629359!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe3bb304132cd%3A0xb618d60c0c4e7386!2z0YPQuy4g0J3QvtCy0L7QvtGA0LvQvtCy0YHQutCw0Y8sIDQsINCU0L3QtdC_0YAsINCU0L3QtdC_0YDQvtC_0LXRgtGA0L7QstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCA0OTAwMA!5e0!3m2!1sru!2sua!4v1719357476614!5m2!1sru!2sua"
            class="show-map-link"
            >Показати на мапі</a
          >
        </div>
      </div>
      <div class="filii-card">
        <div class="filii-card-number-pharm">
          <span class="number">03</span>
          <div class="time-pharm">
            <img src="./images/clock.svg" alt="clock-icon" />
            Пн-Вс:
            <span> 09:00-20:00</span>
          </div>
        </div>
        <div>
          <a href="tel:+380669861298">
            <span class="filii-phone-pharm">+38 (066) 986 12 98</span>
          </a>
        </div>
        <div class="filii-address-pharm">
          <img src="./images/map-point.svg" alt="map-icon" />
          <span
            >М.Днiпро, <br />
            Вул. Данiла Галицького 25</span
          >
        </div>
        <div class="show-maps">
          <a
            href=""
            data-map="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2645.818097014536!2d34.9394822!3d48.460019599999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe3eff2eae10f%3A0x6bdc25de7986b16e!2z0YPQuy4g0JTQsNC90LjQu9CwINCT0LDQu9C40YbQutC-0LPQviwgMjUsINCU0L3QtdC_0YAsINCU0L3QtdC_0YDQvtC_0LXRgtGA0L7QstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCA0OTAwMA!5e0!3m2!1sru!2sua!4v1719357609064!5m2!1sru!2sua"
            class="show-map-link"
            >Показати на мапі</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
