<div class="overlay-map-container hidden">
  <div class="backdrop-overlay-map">
    <div class="map-overlay">
      <button type="button" class="map-overlay-close">
        <img src="./images/btn-cross.svg" alt="button-close" />
      </button>
      <iframe
        src="about:blank"
        
        style="border: 0"
        class="map-block-frame"
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
      <!-- <iframe
        src="https://maps.app.goo.gl/MriLxtYJJbMkkdrv6"
        style="border: 0"
        class="map-block-frame"
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
      <iframe
        src="https://maps.app.goo.gl/KFu8o9nqD8zKP1kW8"
        style="border: 0"
        class="map-block-frame"
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe> -->
    </div>
  </div>
</div>
