<div class="overlay-container hidden">
  <div class="backdrop-overlay">
    <div class="form-overlay">
      <button type="button" class="cls-btn">
        <img src="./images/btn-cross.svg" alt="close-button" />
      </button>
      <div class="overlay-form-small-photo">
        <img src="./images/form1.webp" alt="woman with snake" />
      </div>
      <div class="overlay-form-main-photo">
        <img src="./images/form2.webp" alt="woman" />
        <div class="overlay-form-socials">
          <a href="https://www.instagram.com/zoowild_vet/">
            <img src="./images/form-insta.svg" alt="insta-icon" />
          </a>
          <a href="mailto: zoowild22@icloud.com">
            <img src="./images/form-mail.svg" alt="mail-icon" />
          </a>
          <a href="https://www.facebook.com/profile.php?id=100091989705586" target="_blank">
            <img src="./images/form-fb.svg" alt="fb-icon" />
          </a>
          <a href="https://wa.me/380679861278">
            <img src="./images/form-whatsapp.svg" alt="whatsapp-icon" />
          </a>
          <a href="viber://chat?number=%2B380679861278">
            <img src="./images/form-viber.svg" alt="viber-icon" />
          </a>
          <a href="https://t.me/SvZoowild">
            <img src="./images/form-telegram.svg" alt="telega-icon" />
          </a>
        </div>
      </div>
      <div class="overlay-form-send-block">
        <div class="overlay-form-send-block-title">
          <img
            src="./images/form1.webp"
            alt="woman with snake"
            class="mob-overlay"
          />
          <img src="./images/form-icon.svg" alt="icon" />
          <span>
            Залиште ваші дані і найближчим часом ми з вами зв'яжемося
          </span>
        </div>
        <form id="overlay-contact-form">
          <div class="overlay-form-group">
            <input
              class="overlay-input"
              type="text"
              id="overlay-name"
              name="name"
              placeholder="Ім'я*"
              required
            />
          </div>
          <div class="overlay-form-group">
            <input
              class="overlay-input"
              type="tel"
              id="overlay-phone"
              name="phone"
              placeholder="Телефон*"
              required
            />
          </div>
          <div class="overlay-form-group">
            <input
              class="overlay-input"
              type="email"
              id="overlay-email"
              name="email"
              placeholder="Пошта"
            />
          </div>
          <div class="overlay-form-group overlay-checkbox-group">
            <input
              class="overlay-checkbox"
              type="checkbox"
              id="overlay-privacy-policy"
              name="overlay-privacy-policy"
              required
            />
            <label for="overlay-privacy-policy" class="overlay-policy"
              >Підтверджуючи, ви погоджуєтесь з <br />
              <a href="https://www.instagram.com/zoowild_vet/">
                <span> політикою конфіденційності </span>
              </a>
            </label>
          </div>
          <button type="submit" class="overlay-btn-form-submit">
            <img src="./images/Union.svg" alt="union" />
            <span>Записатися на прийом</span>
            <img src="./images/arrow-white-btn.svg" alt="vector" />
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="backdrop-overlay-submit">
    <div class="form-submit">
      <div class="back-btn">
        <img src="./images/arrow-white-btn.svg" alt="arrow-left" />
        <a href="#">Назад до головної</a>
      </div>
      <button class="close-img">
        <img src="./images/btn-cross.svg" alt="close-button" />
      </button>
      <div class="submit-content">
        <div class="submit-content-info">
          Дякуємо за звернення, найближчим часом ми з вами зв'яжемося
        </div>
        <img src="./images/form2.webp" alt="woman" />
      </div>
    </div>
  </div>
</div>
