<section class="pharm-container" id="pharmacy">
  <div class="pharm-wrapper">
    <div class="pharm-block1">
      <div class="pharm-title">
        <span class="pharm-title-text">Також у нас є аптека</span>
        <img src="./images/pharmacy1.jpg" alt="cats" />
      </div>
      <span class="pharm-description">
        Ветаптека
        <span class="parm-desc-green1"> Zoowild </span>
        — єдиний магазин У країні, де ви знайдете
        <span class="parm-desc-green2"> відділ рецептурних препаратів </span>
        для ветеринарної аптеки як для рознiчної, так i для оптової торгiвлI
      </span>
    </div>
    <div class="pharm-block2">
      <div class="pharm-block2-cont">
        <div class="pharm-circles">
          <div>
            <div></div>
          </div>
        </div>
        <span class="pharm-title-word1">ветеринарна</span>
        <div class="pharm-block2-right">
          <img
            class="pharm-block2-img"
            src="./images/pharmacy2.jpg"
            alt="women"
          />
          <div class="pharm-block2-desc">
            <span>
              найкращі сучасні, оригінальні ветпрепарати із сертифікатами якості
            </span>
          </div>
        </div>
        <div class="pharm-title-line2">
          <span class="pharm-title-line2-word1">аптека</span>
          <span class="pharm-title-line2-word2">з Ліцензією</span>
        </div>
      </div>
      <img class="pharm-small-img" src="./images/pharmacy3.jpg" alt="dog" />
    </div>
    <div class="pharm-block3">
      <img src="./images/pharmacy4.jpg" alt="women" />
      <div class="pharm-block3-right">
        <span class="pharm-block3-desc"
          >зоомагазин має широкий ассортимент зоотоварів, амуніції, та супутніх
          товарів для любої тварини</span
        >
        <div class="pharm-block3-right-down">
          <div class="pharm-block3-right-down-block">
            <span>I навiть таких</span>
            <img src="./images/pharmacy5.jpg" alt="snake" />
          </div>
          <div class="pharm-block3-right-down-block">
            <span>Або таких</span>
            <img src="./images/pharmacy6.jpg" alt="fish" />
          </div>
        </div>
      </div>
    </div>
    <div class="pharm-block4">
      <button class="pharm-block4-btn-link form-popap-btn">
        <span> Зв’язатися </span>
        <img src="./images/arrow-right-up.svg" alt="" />
      </button>
      <a href="#contacts" class="pharm-block4-btn-choose">Обрати аптеку</a>
    </div>
  </div>
</section>
