<!-- main -->
<section class="preparats-container" id="preparats">
  <!-- 1 block -->
  <div class="preps-intro">
    <!-- <img src="./images/prep1.webp" alt="women" class="preps-intro-img" /> -->
    <button class="preps-btn">
      <img src="./images/Polygon.svg" alt="button" />
    </button>
    <div class="preps-title">
      <span class="preps-title-text"
        >Ветеринарні рецептурні препарати на замовлення</span
      >
    </div>
  </div>
  <!-- 2 block -->
  <div class="preps-desc">
    <span class="preps-desc-text"
      >Послуга, яка дозволяє ветеринарній клініці або аптеці отримати спеціально
      складений медикамент, що відповідає індивідуальним потребам кожного
      пацієнта. Ці препарати виготовляються на замовлення лікаря, враховуючи
      конкретний діагноз, характеристики тварини та її стан здоров'я</span
    >
  </div>
  <!-- 3 blok -->
  <div class="preps-info">
    <!-- 3 block left -->
    <div class="preps-info-services">
      <!-- 3 block left up -->
      <div class="preps-info-serv left">
        <div class="preps-info-serv-img">
          <img src="./images/prep2.webp" alt="women" />
        </div>
        <div class="preps-info-serv-text">
          <span class="pist-title">роздрібний продаж</span>
          <span class="pist-desc"
            >Складні ветеринарні препарати на замовлення: індивідуально
            підбираються для кожного пацієнта</span
          >
        </div>
      </div>
      <!-- 3 block left down -->
      <div class="preps-info-serv right">
        <div class="preps-info-serv-text">
          <span class="pist-title right">Оптові продажі</span>
          <span class="pist-desc right"
            >Оптові клієнти ветеринарних рецептурних препаратів отримують
            спеціальні умови закупівлі та широкий вибір партнерських
            програм</span
          >
        </div>
        <div class="preps-info-serv-img">
          <img src="./images/prep3.webp" alt="women" />
        </div>
      </div>
    </div>
    <!-- 3 block right -->
    <div class="preps-info-serv-right">
      <!-- <img src="./images/prep4.webp" alt="dog" /> -->
      <button class="bigBtnYellow form-popap-btn">
        <img src="./images/Union.svg" alt="union" />
        <span>Зв’язатися для замовлення</span>
        <img src="./images/Vector.svg" alt="vector" />
      </button>
    </div>
  </div>
</section>
