<section class="reception-container" id="preparation">
  <div class="recep-title-group">
    <span class="recep-title">Пiдготовка до прийому</span>
    <div class="recep-desc-group">
      <span class="recep-desc"
        >Як
        <span> підготувати улюбленця </span>
        до прийому до лікаря без стресу та шоку
      </span>
      <span class="recep-subdesc"
        >Для того щоб підготувати свою тваринку до прийому, дотримуйтесь правил,
        вказаних нижче</span
      >
    </div>
  </div>
  <img src="./images/cat-lying.webp" alt="the cat is lying" />
  <div class="recep-steps">
    <div class="recep-step">
      <span class="recep-step-number">01</span
      ><span class="recep-step-info"
        >Не годувати тварину протягом 4-12 годин перед візитом до ветеринара. Це
        дозволяє правильно оцінити апетит та вагу тварини, а також провести
        необхідні діагностичні процедури, такі як аналіз крові</span
      >
    </div>
    <div class="recep-step">
      <span class="recep-step-number">02</span
      ><span class="recep-step-info"
        >Подбайте про чистоту тварини. Важливо вмити або ретельно очистити
        шерсть улюбленця, особливо якщо вона забруднена або випадає</span
      >
    </div>
    <div class="recep-step">
      <span class="recep-step-number">03</span
      ><span class="recep-step-info"
        >Візьміть з собою усі медичні документи та картки щеплень вашої тварини.
        Це допоможе ветеринару отримати повну картину про здоров'я та історію
        хвороби тварини</span
      >
    </div>
    <div class="recep-step">
      <span class="recep-step-number">04</span
      ><span class="recep-step-info"
        >Запишіть всі симптоми та зміни в стані тварини, які ви помітили перед
        візитом до ветеринара. Це надасть додаткову інформацію, яка допоможе
        ветеринару зробити правильний діагноз</span
      >
    </div>
    <div class="recep-step">
      <span class="recep-step-number">05</span
      ><span class="recep-step-info"
        >Забезпечте комфортні умови для тварини під час поїздки до ветеринара.
        Використовуйте транспортний бокс або інші зручні засоби, щоб забезпечити
        безпеку та комфорт вашому улюбленцю під час транспортування</span
      >
    </div>
    <div class="recep-btn-group-mob">
      <button class="recep-btn-link form-popap-btn">
        <span> Зв’язатися </span>
        <img src="./images/arrow-right-up.svg" alt="" />
      </button>
      <button
        class="recep-btn-phone"
        onclick="location.href='tel:+380632306007';"
      >
        +38 063 230 60 07
      </button>
    </div>
  </div>
  <div class="recep-btn-group">
    <button class="recep-btn-link form-popap-btn">
      <span> Зв’язатися </span>
      <img src="./images/arrow-right-up.svg" alt="" />
    </button>
    <button
      class="recep-btn-phone"
      onclick="location.href='tel:+380632306007';"
    >
      +38 063 230 60 07
    </button>
  </div>
</section>
