<section class="questions-container" id="questions">
  <div class="ques-title-group">
    <span class="ques-title-group-name">Частi запитання</span>
    <span class="ques-title-group-desc"
      >запитання, які часто задають перед візитом
      <span> до ветеринарного лікаря</span>
    </span>
  </div>
  <div class="ques-main-group">
    <div class="ques-main-photo-block">
      <img src="./images/ques-photo.jpg" alt="woman" />
      <!-- <div class="ques-photo-desc"> -->
      <div class="ques-photo-desc">
        <span class="owner-name">Ракитянська Світлана Вікторівна</span>
        <span class="owner-title"
          >Засновниця та CEO <span class="owner-word"> Zoowild </span> | Лікар
          ветеринарної медицини</span
        >
        <div class="owner-soclinks">
          <a href="https://instagram.com" target="_blank">
            <img src="./images/insta-icon.svg" alt="icon-instagram" />
          </a>
          <a href="https://facebook.com">
            <img src="./images/fb-icon.svg" alt="icon-facebook" />
          </a>
          <a href="https://web.telegram.org/">
            <img src="./images/telegram-icon.svg" alt="icon-telegram" />
          </a>
        </div>
        <img class="sign" src="./images/signature.svg" alt="sign" />
      </div>
      <!-- </div> -->
    </div>
    <div class="ques-main-block">
      <div class="ques-main-block-item">
        <div class="item-question">
          <span
            >Чи потрібно моїй тварині підтримувати піст перед візитом до
            ветеринара?</span
          >
          <button class="coop-vacan-plus-btn minus-btn">
            <img src="./images/btn-minus.svg" alt="plus-button" />
          </button>
          <button class="coop-vacan-plus-btn plus-btn hidden">
            <img src="./images/vac-plus.svg" alt="plus-button" />
          </button>
        </div>
        <span class="open-answer"
          >На піст необхідно підтримувати вашу тварину протягом 8-12 годин перед
          візитом до ветеринарного лікаря. Це допоможе правильно оцінити її
          апетит та вагу під час обстеження</span
        >
      </div>
      <div class="ques-main-block-item">
        <div class="item-question">
          <span>Як довго триває процедура обстеження тварини?</span>
          <button class="coop-vacan-plus-btn minus-btn hidden">
            <img src="./images/btn-minus.svg" alt="plus-button" />
          </button>
          <button class="coop-vacan-plus-btn plus-btn">
            <img src="./images/vac-plus.svg" alt="plus-button" />
          </button>
        </div>
        <span class="open-answer hidden"
          >На піст необхідно підтримувати вашу тварину протягом 8-12 годин перед
          візитом до ветеринарного лікаря. Це допоможе правильно оцінити її
          апетит та вагу під час обстеження</span
        >
      </div>
      <div class="ques-main-block-item">
        <div class="item-question">
          <span
            >Чи потрібно приносити усі медичні записи та документи
            тварини?</span
          >
          <button class="coop-vacan-plus-btn minus-btn hidden">
            <img src="./images/btn-minus.svg" alt="plus-button" />
          </button>
          <button class="coop-vacan-plus-btn plus-btn">
            <img src="./images/vac-plus.svg" alt="plus-button" />
          </button>
        </div>
        <span class="open-answer hidden"
          >На піст необхідно підтримувати вашу тварину протягом 8-12 годин перед
          візитом до ветеринарного лікаря. Це допоможе правильно оцінити її
          апетит та вагу під час обстеження</span
        >
      </div>
      <div class="ques-main-block-item">
        <div class="item-question">
          <span
            >Якщо у тварини є певні симптоми, які краще зафіксувати для
            ветеринара?</span
          >
          <button class="coop-vacan-plus-btn minus-btn hidden">
            <img src="./images/btn-minus.svg" alt="plus-button" />
          </button>
          <button class="coop-vacan-plus-btn plus-btn">
            <img src="./images/vac-plus.svg" alt="plus-button" />
          </button>
        </div>
        <span class="open-answer hidden"
          >На піст необхідно підтримувати вашу тварину протягом 8-12 годин перед
          візитом до ветеринарного лікаря. Це допоможе правильно оцінити її
          апетит та вагу під час обстеження</span
        >
      </div>
      <div class="ques-main-block-item">
        <div class="item-question">
          <span
            >Чи мають ветеринарні клініки план підготовки до візиту, наприклад,
            як підготувати тварину перед обстеженням?</span
          >
          <button class="coop-vacan-plus-btn minus-btn hidden">
            <img src="./images/btn-minus.svg" alt="plus-button" />
          </button>
          <button class="coop-vacan-plus-btn plus-btn">
            <img src="./images/vac-plus.svg" alt="plus-button" />
          </button>
        </div>
        <span class="open-answer hidden"
          >На піст необхідно підтримувати вашу тварину протягом 8-12 годин перед
          візитом до ветеринарного лікаря. Це допоможе правильно оцінити її
          апетит та вагу під час обстеження</span
        >
      </div>
      <div class="ques-main-block-item">
        <div class="item-question">
          <span
            >Чи можна отримати консультацію про харчування тварини та інші
            аспекти догляду під час візиту до ветеринара?</span
          >
          <button class="coop-vacan-plus-btn minus-btn hidden">
            <img src="./images/btn-minus.svg" alt="plus-button" />
          </button>
          <button class="coop-vacan-plus-btn plus-btn">
            <img src="./images/vac-plus.svg" alt="plus-button" />
          </button>
        </div>
        <span class="open-answer hidden"
          >На піст необхідно підтримувати вашу тварину протягом 8-12 годин перед
          візитом до ветеринарного лікаря. Це допоможе правильно оцінити її
          апетит та вагу під час обстеження</span
        >
      </div>
    </div>
  </div>
</section>
