<div class="reviews-container">
  <div class="rev-title-group">
    <span class="rev-title">Вiдгуки</span>
    <span class="rev-desc"
      >Задоволенi
      <span>клієнти та їхні улюбленці</span>
    </span>
  </div>
  <div class="rev-main-block">
    <div class="rev-main-cover">
      <img src="./images/review1.png" alt="woman" />
      <div class="rev-main-stats">
        <div>
          <span class="rev-main-stats-count">8 350</span>
          <span class="rev-main-stats-text">Прооперованних собак</span>
        </div>
        <div>
          <span class="rev-main-stats-count">15 500</span>
          <span class="rev-main-stats-text">врятованних котiв</span>
        </div>
      </div>
    </div>
    <div class="rev-main-group">
      <div class="rev-main-group-stats">
        <img src="./images/review2.png" alt="girl with cat" />
        <div>
          <span class="rev-main-group-stats-count">142 500</span>
          <span class="rev-main-group-stats-info"
            >Здiйснено прийомів, консультацій, діагностик та інших
            спеціалізованих дій з тваринами</span
          >
        </div>
      </div>
      <div class="rev-slider">
        <div class="rev-slider-swiper">
            <img src="./images/temp.png" alt="temp">
          <!-- <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">Slide 1</div>
              <div class="swiper-slide">Slide 2</div>
              <div class="swiper-slide">Slide 3</div>
            </div>

            <div class="swiper-pagination"></div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div> -->
        </div>
        <img class="parrot" src="./images/review4.png" alt="parrot" />
      </div>
    </div>
  </div>
</div>
