<section class="reviews-container" id="reviews">
  <div class="rev-title-group">
    <span class="rev-title">Вiдгуки</span>
    <span class="rev-desc"
      >Задоволенi
      <span>клієнти та їхні улюбленці</span>
    </span>
  </div>
  <div class="rev-main-block">
    <div class="rev-main-cover">
      <img src="./images/review1.webp" class="rev-desc" alt="woman" />
      <img src="./images/review1-mob.webp" class="rev-mob" alt="woman" />
      <div class="rev-main-stats">
        <div>
          <span class="rev-main-stats-count">8 350</span>
          <span class="rev-main-stats-text">Прооперованних собак</span>
        </div>
        <div>
          <span class="rev-main-stats-count">15 500</span>
          <span class="rev-main-stats-text">врятованних котiв</span>
        </div>
      </div>
    </div>
    <div class="rev-main-group">
      <div class="rev-main-group-stats">
        <img src="./images/review2.webp" alt="girl with cat" />
        <div>
          <span class="rev-main-group-stats-count">142 500</span>
          <span class="rev-main-group-stats-info"
            >Здiйснено прийомів, консультацій, діагностик та інших
            спеціалізованих дій з тваринами</span
          >
        </div>
      </div>
      <div class="rev-slider">
        <div class="rev-slider-swiper">
          <div class="swiper review-swiper-container">
            <div class="swiper-wrapper review-swiper-wrapper">
              <div class="swiper-slide review-swiper-slide">
                <div class="slide-frame-head" data-swiper-parallax="-100">
                  <div>
                    <img src="./images/review3.jpg" alt="photo" />
                  </div>
                  <div class="slide-frame-head-info">
                    <div class="slide-frame-head-info-title">
                      <span>Олена та Муся</span>
                      <img src="./images/stars.svg" alt="stars" />
                    </div>
                    <span class="slide-frame-head-info-age"
                      >Вік кiшцi 1.8 рокiв</span
                    >
                  </div>
                </div>
                <div class="slide-frame-main">
                  <div
                    class="slide-frame-main-title"
                    data-swiper-parallax="-200"
                  >
                    <span class="rev-title-green">Відгук</span>
                    <span class="rev-title-date">23. 04. 2024</span>
                  </div>
                  <span
                    class="slide-frame-main-text"
                    data-swiper-parallax="-300"
                    data-swiper-parallax-opacity="0.5"
                    >Я дуже задоволена результатами лікування моєї кішки в
                    ветеринарній клініці. Ветеринарний лікар надав професійну
                    допомогу, правильно поставив діагноз і підібрав ефективне
                    лікування. Кішка вже почуває себе набагато краще, і я вдячна
                    за уважний підхід до мого улюбленця</span
                  >
                </div>
              </div>
              <div class="swiper-slide review-swiper-slide">
                <div class="slide-frame-head" data-swiper-parallax="-100">
                  <div>
                    <img src="./images/review3.jpg" alt="photo" />
                  </div>
                  <div class="slide-frame-head-info">
                    <div class="slide-frame-head-info-title">
                      <span>Олена та Муся</span>
                      <img src="./images/stars.svg" alt="stars" />
                    </div>
                    <span class="slide-frame-head-info-age"
                      >Вік кiшцi 1.8 рокiв</span
                    >
                  </div>
                </div>
                <div class="slide-frame-main">
                  <div
                    class="slide-frame-main-title"
                    data-swiper-parallax="-200"
                  >
                    <span class="rev-title-green">Відгук</span>
                    <span class="rev-title-date">23. 04. 2024</span>
                  </div>
                  <span
                    class="slide-frame-main-text"
                    data-swiper-parallax="-300"
                    data-swiper-parallax-opacity="0.5"
                    >Я дуже задоволена результатами лікування моєї кішки в
                    ветеринарній клініці. Ветеринарний лікар надав професійну
                    допомогу, правильно поставив діагноз і підібрав ефективне
                    лікування. Кішка вже почуває себе набагато краще, і я вдячна
                    за уважний підхід до мого улюбленця</span
                  >
                </div>
              </div>
              <div class="swiper-slide review-swiper-slide">
                <div class="slide-frame-head" data-swiper-parallax="-100">
                  <div>
                    <img src="./images/review3.jpg" alt="photo" />
                  </div>
                  <div class="slide-frame-head-info">
                    <div class="slide-frame-head-info-title">
                      <span>Олена та Муся</span>
                      <img src="./images/stars.svg" alt="stars" />
                    </div>
                    <span class="slide-frame-head-info-age"
                      >Вік кiшцi 1.8 рокiв</span
                    >
                  </div>
                </div>
                <div class="slide-frame-main">
                  <div
                    class="slide-frame-main-title"
                    data-swiper-parallax="-200"
                  >
                    <span class="rev-title-green">Відгук</span>
                    <span class="rev-title-date">23. 04. 2024</span>
                  </div>
                  <span
                    class="slide-frame-main-text"
                    data-swiper-parallax="-300"
                    data-swiper-parallax-opacity="0.5"
                    >Я дуже задоволена результатами лікування моєї кішки в
                    ветеринарній клініці. Ветеринарний лікар надав професійну
                    допомогу, правильно поставив діагноз і підібрав ефективне
                    лікування. Кішка вже почуває себе набагато краще, і я вдячна
                    за уважний підхід до мого улюбленця</span
                  >
                </div>
              </div>
              <div class="swiper-slide review-swiper-slide">
                <div class="slide-frame-head" data-swiper-parallax="-100">
                  <div>
                    <img src="./images/review3.jpg" alt="photo" />
                  </div>
                  <div class="slide-frame-head-info">
                    <div class="slide-frame-head-info-title">
                      <span>Олена та Муся</span>
                      <img src="./images/stars.svg" alt="stars" />
                    </div>
                    <span class="slide-frame-head-info-age"
                      >Вік кiшцi 1.8 рокiв</span
                    >
                  </div>
                </div>
                <div class="slide-frame-main">
                  <div
                    class="slide-frame-main-title"
                    data-swiper-parallax="-200"
                  >
                    <span class="rev-title-green">Відгук</span>
                    <span class="rev-title-date">23. 04. 2024</span>
                  </div>
                  <span
                    class="slide-frame-main-text"
                    data-swiper-parallax="-300"
                    data-swiper-parallax-opacity="0.5"
                    >Я дуже задоволена результатами лікування моєї кішки в
                    ветеринарній клініці. Ветеринарний лікар надав професійну
                    допомогу, правильно поставив діагноз і підібрав ефективне
                    лікування. Кішка вже почуває себе набагато краще, і я вдячна
                    за уважний підхід до мого улюбленця</span
                  >
                </div>
              </div>
              <div class="swiper-slide review-swiper-slide">
                <div class="slide-frame-head" data-swiper-parallax="-100">
                  <div>
                    <img src="./images/review3.jpg" alt="photo" />
                  </div>
                  <div class="slide-frame-head-info">
                    <div class="slide-frame-head-info-title">
                      <span>Олена та Муся</span>
                      <img src="./images/stars.svg" alt="stars" />
                    </div>
                    <span class="slide-frame-head-info-age"
                      >Вік кiшцi 1.8 рокiв</span
                    >
                  </div>
                </div>
                <div class="slide-frame-main">
                  <div
                    class="slide-frame-main-title"
                    data-swiper-parallax="-200"
                  >
                    <span class="rev-title-green">Відгук</span>
                    <span class="rev-title-date">23. 04. 2024</span>
                  </div>
                  <span
                    class="slide-frame-main-text"
                    data-swiper-parallax="-300"
                    data-swiper-parallax-opacity="0.5"
                    >Я дуже задоволена результатами лікування моєї кішки в
                    ветеринарній клініці. Ветеринарний лікар надав професійну
                    допомогу, правильно поставив діагноз і підібрав ефективне
                    лікування. Кішка вже почуває себе набагато краще, і я вдячна
                    за уважний підхід до мого улюбленця</span
                  >
                </div>
              </div>
              <div class="swiper-slide review-swiper-slide">
                <div class="slide-frame-head" data-swiper-parallax="-100">
                  <div>
                    <img src="./images/review3.jpg" alt="photo" />
                  </div>
                  <div class="slide-frame-head-info">
                    <div class="slide-frame-head-info-title">
                      <span>Олена та Муся</span>
                      <img src="./images/stars.svg" alt="stars" />
                    </div>
                    <span class="slide-frame-head-info-age"
                      >Вік кiшцi 1.8 рокiв</span
                    >
                  </div>
                </div>
                <div class="slide-frame-main">
                  <div
                    class="slide-frame-main-title"
                    data-swiper-parallax="-200"
                  >
                    <span class="rev-title-green">Відгук</span>
                    <span class="rev-title-date">23. 04. 2024</span>
                  </div>
                  <span
                    class="slide-frame-main-text"
                    data-swiper-parallax="-300"
                    data-swiper-parallax-opacity="0.5"
                    >Я дуже задоволена результатами лікування моєї кішки в
                    ветеринарній клініці. Ветеринарний лікар надав професійну
                    допомогу, правильно поставив діагноз і підібрав ефективне
                    лікування. Кішка вже почуває себе набагато краще, і я вдячна
                    за уважний підхід до мого улюбленця</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="review-swiper-pagin"></div>
          <div class="review-btn-cont">
            <button class="review-swiper-prev">
              <img src="./images/rev-step-left.svg" alt="arrow-left" />
            </button>
            <button class="review-swiper-next">
              <img src="./images/rev-step-right.svg" alt="arrow-right" />
            </button>
          </div>
        </div>
        <img class="parrot" src="./images/review4.webp" alt="parrot" />
      </div>
    </div>
  </div>
</section>
