<div class="serts-container">
  <span class="serts-title">Ліцензії та сертифiкати</span>
  <span class="serts-desc"
    >Ми завжди розвиваємося, набуваємо нових знань і покращуємо
    <span class="serts-desc-green"> якість наших послуг та сервісу </span>
  </span>
  <div class="swiper serts-swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper serts-swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide serts-slide">
        <img src="./images/diplom1.png" alt="diplom1" />
      </div>
      <div class="swiper-slide serts-slide">
        <img src="./images/diplom2.png" alt="diplom2" />
      </div>
      <div class="swiper-slide serts-slide">
        <img src="./images/diplom3.png" alt="diplom3" />
      </div>
      <div class="swiper-slide serts-slide">
        <img src="./images/diplom1.png" alt="diplom1" />
      </div>
      <div class="swiper-slide serts-slide">
        <img src="./images/diplom2.png" alt="diplom2" />
      </div>
      <div class="swiper-slide serts-slide">
        <img src="./images/diplom3.png" alt="diplom3" />
      </div>
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="nav-btn-cont">
      <button class="serts-btn-prev">
          <img src="./images/serts-arrow-left.svg" alt="arrow-left" />
        </button>
        <button class="serts-btn-next">
            <img src="./images/serts-arrow-right.svg" alt="arrow-right" />
        </button>
    </div>
    <div class="pagin-btn-group "></div>
</div>
