<section class="serts-container" id="serts">
  <span class="serts-title">Ліцензії та сертифiкати</span>
  <span class="serts-desc"
    >Ми завжди розвиваємося, набуваємо нових знань і покращуємо
    <span class="serts-desc-green"> якість наших послуг та сервісу </span>
  </span>
  <div class="swiper serts-swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper serts-swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide serts-slide">
        <img src="./images/diplom1.webp" alt="diplom1" class="zoomable-image" />
      </div>
      <div class="swiper-slide serts-slide">
        <img src="./images/diplom2.webp" alt="diplom2" class="zoomable-image" />
      </div>
      <div class="swiper-slide serts-slide">
        <img src="./images/diplom3.webp" alt="diplom3" class="zoomable-image" />
      </div>
      <div class="swiper-slide serts-slide">
        <img src="./images/diplom1.webp" alt="diplom1" class="zoomable-image" />
      </div>
      <div class="swiper-slide serts-slide">
        <img src="./images/diplom2.webp" alt="diplom2" class="zoomable-image" />
      </div>
      <div class="swiper-slide serts-slide">
        <img src="./images/diplom3.webp" alt="diplom3" class="zoomable-image" />
      </div>
    </div>
    <div class="nav-btn-cont">
      <button class="serts-btn-prev">
        <img src="./images/serts-arrow-left.svg" alt="arrow-left" />
      </button>
      <div class="pagin-btn-group"></div>
      <button class="serts-btn-next">
        <img src="./images/serts-arrow-right.svg" alt="arrow-right" />
      </button>
    </div>
  </div>
  <div id="imageModal" class="modal">
    <button class="close-img-btn">&times;</button>
    <img class="modal-content" id="modalImage" />
  </div>
</section>
