<div class="services-container">
  <div class="services-title">
    <span class="services-name">Послуги</span>
    <div class="services-info">
      <span class="services-desc">
        ми пропонуємо
        <span class="services-desc-color"> широкий спектр послуг </span>
        для забезпечення здоров'я та добробуту вашого улюбленця
      </span>
      <div class="services-team">
        <div class="services-team-info">
          <span class="services-team-text">
            Наша команда професіоналів забезпечить лікування, діагностику,
            сервіс вузьких спеціалізацій, а також зону краси та догляду. Крім
            того, у нашому зоомагазині та ветеринарній аптеці ви знайдете все
            необхідне для повного і комплексного догляду за вашим пiтомцем.
          </span>
          <span class="services-team-text">
            Довірте нам опіку про вашого улюбленця, і ми забезпечимо йому
            найкраще та найпрофесійніше обслуговування
          </span>
        </div>
        <img src="./images/services1.png" alt="" class="services-team-img" />
      </div>
    </div>
  </div>

  <div class="services-main">
    <div class="services-main-line1">
      <div class="sml1-box1 big-box">
        <div class="services-main-box-title">хiрургiя</div>
        <div class="services-main-box-info">38 послуг</div>
      </div>
      <div class="sml1-box2 small-box">
        <div class="services-main-box-title">Терапiя</div>
        <div class="services-main-box-info">22 послуги</div>
      </div>
      <div class="mid-box">
        <span
          >Також ми проводимо онлайн консультації, лікуємо в будь-якій точці,
          виклик лікаря додому</span
        >
      </div>
    </div>
    <div class="services-main-line2">
      <div class="mid-box">
        <span
          >лаборорна діагностика, УЗД, вакцинації, фізіопроцедури, біопунктура
          та акупунктура</span
        >
      </div>
      <div class="sml1-box4 small-box">
        <div class="services-main-box-title">Грумiнг</div>
        <div class="services-main-box-info">18 послуг</div>
      </div>
      <div class="sml1-box5 big-box">
        <div class="services-main-box-title">стоматологія</div>
        <div class="services-main-box-info">12 послуг</div>
      </div>
    </div>
    <div class="services-main-block3">
      <div class="services-main-block3-left">
        <div class="services-main-block3-line1">
          <div class="sml1-box6 big-box">
            <div class="services-main-box-title">дерматологія</div>
            <div class="services-main-box-info">12 послуг</div>
          </div>
          <div class="sml1-box7 small-box">
            <div class="services-main-box-title">
              Догляд та підтримка здоров'я
            </div>
          </div>
        </div>
        <div class="services-main-block3-line2">
          <div class="services-main-block3-line2-left">
            <span>Проблеми з очима</span>
            <div class="sml1-box9"></div>
          </div>
          <div class="services-main-block3-line2-right">
            <div class="services-main-block3-line2-right-up">
                <div>
                    <span>
                        лікування птахів
                    </span>
                </div>
            </div>
            <div class="services-main-block3-line2-right-down">
              <div class="box11"></div>
              <div class="box12">
                <span>I навiть ось такi забавнi китайськi тварини</span>
                <div class="sml1-box12"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="services-main-block3-right">
        <div class="sml1-box8"></div>
        <div class="mid-box">
          <span
            >лікування птахів, гризунів, холоднокровних, екзотичних тварин вIд
            будь яких захворювань</span
          >
        </div>
        <div class="sml3-box13">
          <button class="bigBtnYellow">
            <img src="./images/Union.svg" alt="union" />
            <span>Записатися на прийом</span>
            <img src="./images/Vector.svg" alt="vector" />
          </button>
          <img src="./images/services13.png" alt="mini-cat" />
        </div>
      </div>
    </div>
  </div>
</div>
