<div class="services-container">
  <div class="services-title">
    <span class="services-name">Послуги</span>
    <div class="services-info">
      <span class="services-desc">
        ми пропонуємо
        <span class="services-desc-color"> широкий спектр послуг </span>
        для забезпечення здоров'я та добробуту вашого улюбленця
      </span>
      <div class="services-team">
        <div class="services-team-info">
          <span class="services-team-text">
            Наша команда професіоналів забезпечить лікування, діагностику,
            сервіс вузьких спеціалізацій, а також зону краси та догляду. Крім
            того, у нашому зоомагазині та ветеринарній аптеці ви знайдете все
            необхідне для повного і комплексного догляду за вашим пiтомцем.
          </span>
          <span class="services-team-text">
            Довірте нам опіку про вашого улюбленця, і ми забезпечимо йому
            найкраще та найпрофесійніше обслуговування
          </span>
        </div>
        <img src="./images/services1.png" alt="" class="services-team-img" />
      </div>
    </div>
  </div>

  <div class="services-main">
    <div class="services-main-line1">
      <div class="sml1-box1">
        <div class="services-main-box-title">хiрургiя</div>
        <div class="services-main-box-info">38 послуг</div>
      </div>
      <div class="sml1-box2">
        <div class="services-main-box-title">Терапiя</div>
        <div class="services-main-box-info">22 послуги</div>
      </div>
      <div class="sml1-box3">
        <span
          >Також ми проводимо онлайн консультації, лікуємо в будь-якій точці,
          виклик лікаря додому</span
        >
      </div>
    </div>
  </div>
</div>
