<div class="visits-container">
  <div class="visit-before">
    <div class="visit-before-info">
      <span class="visit-before-info-title">Для кого пiдiйде</span>
      <span class="visit-before-info-text"
        >Спочатку
        <span class="text-green">до нас звертаються </span>
      </span>
    </div>
    <div class="visit-before-images">
      <div class="visit-before-images-block-first">
        <div class="visit-before-group">
          <span class="visit-image-title">Проблеми з зубами</span>
          <img src="./images/visits1.png" alt="dog's tooth" />
        </div>
        <div class="visit-before-group">
          <span class="visit-image-title">Сумними очима</span>
          <img src="./images/visits2.png" alt="dog's tooth" />
        </div>
      </div>
      <div class="visit-before-images-block-second">
        <div class="visit-before-group">
          <span class="visit-image-title">Болю</span>
          <img src="./images/visits3.png" alt="dog's tooth" />
        </div>
        <div class="visit-before-group">
          <span class="visit-image-title img4"
            >Чи просто недостатньо красивi</span
          >
          <img src="./images/visits4.png" alt="dog's tooth" />
        </div>
      </div>
      <div class="visit-before-images-block-third">
        <div class="visit-before-group">
          <img src="./images/visits5.png" alt="dog's tooth" />
          <span class="visit-image-title img5"
            >Але ми вciм радi, та дуже щасливi</span
          >
        </div>
      </div>
    </div>
    <img src="./images/visits6.png" alt="cat" />
  </div>
  <div class="visit-defore-after">
    <span class="visit-defore-after-text"
      >Але
      <span> пiсля прийому </span>
      трапляються дива</span
    >
  </div>
</div>
